<header id="{{module.module_identity}}" class="{% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="contain-nav">
            {% if module.logo.logo_src.src %}
                <a href="{{ module.logo.logo_link.href }}" class="logo">
                    <img src="{{ module.logo.logo_src.src }}" loading="lazy" alt="{{ module.logo.logo_src.alt }}" width="{{ module.logo.logo_src.width }}" height="{{ module.logo.logo_src.height }}" />
                </a>
            {% endif %}
            <nav>
                <ul>
                    {% for item in module.menu_header %}
                        <li class="menu-parent">
                            <a href="{{ item.link.url.href }}" {% if item.link.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>{{ item.text_menu }}</a>
                            {% if item.title_cta %}
                            <div class="sub-menu">
                                <div class="container">
                                    <div class="bloc-menu">
                                        <div class="col">
                                            {% for links in item.links %}
                                                {% if loop.index is odd %}
                                                    {% if links.title_links %}
                                                        <p class="title">{{ links.title_links }}</p>
                                                    {% endif %}
                                                    <ul>
                                                        {% for item in links.items %}
                                                            {% if item.text_menu_items %}
                                                                <li>
                                                                    <a href="{{ item.link_items.url.href }}" {% if item.link_items.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>{{ item.text_menu_items }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col">
                                            {% for links in item.links %}
                                                {% if loop.index is even %}
                                                    {% if links.title_links %}
                                                        <p class="title">{{ links.title_links }}</p>
                                                    {% endif %}
                                                    <ul>
                                                        {% for item in links.items %}
                                                            {% if item.text_menu_items %}
                                                                <li>
                                                                    <a href="{{ item.link_items.url.href }}" {% if item.link_items.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>{{ item.text_menu_items }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="bloc-cta">
                                        <div class="bloc-img">
                                            <figure>
                                                <img loading="lazy" src="{{ item.image_cta.src }}" width="{{ item.image_cta.width }}" height="{{ item.image_cta.height }}" alt="{{ item.image_cta.alt }}" />
                                            </figure>
                                        </div>
                                        {% if item.title_cta %}
                                            <p class="title">{{ item.title_cta }}</p>
                                        {% endif %}
                                        {% if item.cta_field_cta %}
                                            <div class="row-btns">
                                                {% cta "cta" label='Select a CTA', guid='{{ item.cta_field_cta }}' %}
                                            </div>
                                        {% else if item.button_text_cta %}
                                            {% if item.button_text_cta %}
                                            <div class="row-btns">
                                                <a href="{{ item.button_url_cta.url.href }}" {% if item.button_url_cta.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg">
                                                        <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                                        <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                                    </svg>
                                                    {{ item.button_text_cta }}
                                                </a>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="contact">
            <div class="switch-language">
                <span class="lang">FR</span>
                <span class="switcher"></span>
            </div>
            {% if module.cta_field %}
                <div class="row-btns">
                    {% cta "cta" label='Select a CTA', guid='{{ module.cta_field }}' %}
                </div>
            {% else if module.button_url.url.href %}
                <div class="row-btns">
                    <a href="{{ module.button_url.url.href }}" {% if module.button_url.open_in_new_tab %}target="_blank" rel=""{% endif %} class="btn">
                        {{ module.button_text }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</header>