<section id="{{module.module_identity}}" class="blog-listing-hero {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="bloc-bg-lines">
        <div class="line line-1"></div>
        <div class="line line-2"></div> 
        <div class="line line-3"></div> 
    </div>
    <div class="container">
        <div class="contain">
            {% if module.title %}
                <h1>{{ module.title }}</h1>
            {% endif %}
            <div class="bloc-form">
                {% form
                    form_to_use="{{ module.form.form_id }}"
                    response_response_type="{{ module.form.response_type }}"
                    response_message="{{ module.form.message }}"
                    response_redirect_id="{{ module.form.redirect_id }}"
                    response_redirect_url="{{ module.form.redirect_url}}"
                    gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}"
                %}
            </div>
        </div>
        {% if content.language.languageTag == 'en' %}
            {% set slug = request.path|split('/', 3)|last %}
        {% else %}
            {% set slug = request.path|split('/', 4)|last %}
        {% endif %}
        {% set slugTag = request.path|split('/', 2)|last %}
        {% set my_tags = blog_tags("default", 250) %}
        <div class="tags">
            {% if blog.name != "Intersec Presse" %}
                <a href="{% if content.language.languageTag == 'fr' %}/fr{% endif %}/blog" class="tag bloc-liquid {% if slugTag == 'blog-intersec' or slugTag == 'blog' %}selected{% endif %}">
                    <svg width="137" class="line-dashed" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <filter id="filter-1" x="-50%" y="-50%" width="200%" height="200%" 
                            filterUnits="objectBoundingBox">
                                <feTurbulence type="fractalNoise" baseFrequency="0.02 0.15" numOctaves="3" result="warp" />
                                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="0" in="SourceGraphic" in2="warp" />
                            </filter>
                        </defs>
                        <circle cx="66" cy="66" r="61" stroke="#2F2F2F" class="cursor__inner" fill="transparent" stroke="#f1762c" style="filter:url('#filter-1')" stroke-width="2px" stroke-linecap="round" stroke-dasharray="2 5"/>
                    </svg>
                    {% if content.language.languageTag == 'fr' %}
                        <span>Tous nos articles</span>
                    {% else %}
                        <span>All</span>
                    {% endif %}
                </a>
            {% endif %}
            
            {% for field in module.tags %}
                {% for item in my_tags %}
                    {% if item.slug == field.tag %}
                        <a href="{{ blog_tag_url(group.id, item.slug) }}" class="tag bloc-liquid {% if tag == item.slug %}selected{% endif %}">
                            <svg width="137" class="line-dashed" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="filter-1" x="-50%" y="-50%" width="200%" height="200%" 
                                    filterUnits="objectBoundingBox">
                                        <feTurbulence type="fractalNoise" baseFrequency="0.02 0.15" numOctaves="3" result="warp" />
                                        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="0" in="SourceGraphic" in2="warp" />
                                    </filter>
                                </defs>
                                <circle cx="66" cy="66" r="61" stroke="#2F2F2F" class="cursor__inner" fill="transparent" stroke="#f1762c" style="filter:url('#filter-1')" stroke-width="2px" stroke-linecap="round" stroke-dasharray="2 5"/>
                            </svg>
                            <span>{{ item.name }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="breadcrumb">
            <nav>
                <ul itemscope itemtype="https://schema.org/BreadcrumbList"
                    class="breadcrumb d-flex flex-wrap align-items-center list-unstyled p-0 m-0">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
                        <meta itemprop="position" content="1" />
                    </li>
                    
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        {% if blog.name == "Intersec Presse" %}
                            <a itemprop="item" href="/press"><span itemprop="name">Press</span></a> 
                        {% else %}
                            <a itemprop="item" href="/blog"><span itemprop="name">Blog</span></a> 
                        {% endif %}
                        
                        <meta itemprop="position" content="2" />
                    </li>
                    {% if tag %}
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <span>{{ page_meta.html_title|split(' | ')|last }}</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="bloc-sticky">
            {% for post in contents %}
                {% if loop.index == 1 %}
                    <div class="bloc">
                        <a class="bloc-img link-hover" href="{{ post.absolute_url }}">
                            <figure>
                                <img src="{{ post.featured_image }}" width="{{ post.featured_image.width }}" height="{{ post.featured_image.height }}" loading="lazy" alt="{{ post.name }}">
                            </figure>
                        </a>
                        <div class="bloc-txt">
                            <div class="post-tags">
                                {% for tag in post.tag_list %}
                                    <a class="tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                            <h3>
                                <a href="{{ post.absolute_url }}">{{ post.name }}</a>
                            </h3>
                            {% if post.post_summary %}
                                <div class="text">
                                {{ post.post_summary }}              
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
    
