<section id="{{module.module_identity}}" class="latest-news {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-title">
            <h2>{{ module.title }}</h2>
            {% if module.cta_field %}
                <div class="row-btns">
                    {% cta "cta" label='Select a CTA', guid='{{ module.cta_field }}' %}
                </div>
            {% else if module.button_url.href %}
                <div class="row-btns">
                    <a href="{{ module.button_url.href }}" {% if module.button_url.open_in_new_tab %}target="_blank" rel=""{% endif %} class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                            <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                        </svg>
                        {{ module.button_text }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="bloc-posts">
            {% set rec_posts = blog_recent_posts("", 3) %}
            {% set i = 0 %}
            {% for rec_post in rec_posts %}
                {% set i = i + 1 %}
                <div class="bloc" data-id="{{ i }}">
                    <a href="{{ rec_post.absolute_url }}" class="bloc-img link-hover">
                        <figure>
                            <img loading="lazy" src="{{ rec_post.featured_image }}" width="{{ rec_post.featured_image.width }}" height="{{ irec_post.featured_image.height }}" alt="{{ rec_post.featured_image_alt }}">
                        </figure>
                    </a>
                    <a href="{{ rec_post.absolute_url }}" class="bloc-txt">
                        <h4>{{ rec_post.name }}</h4>
                        {{ rec_post.post_summary }} 
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>