<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Intersec - Blog Post
-->
{% extends '../layouts/base-blog.html' %}
{% block body %}

<div class="blog-post-template">
  <section class="blog-post-hero">
    <div class="bloc-bg-lines">
      <div class="line line-1"></div>
      <div class="line line-2"></div> 
      <div class="line line-3"></div> 
    </div>
    <div class="container">
      <div class="bloc-txt">
        <h1>{{ content.name }}</h1>
        <div class="infos">
          <div class="tags">
            {% if content.topic_list %}
              {% for tags in content.topic_list %}
                {% if tags.name|lower != "featured" %}
                  <a href="{{ blog_tag_url(group.id, tags.slug) }}">{{tags|replace('-', ' ') }}</a>{% if !loop.last %} - {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          {% if content.publish_date %}
            {% if content.language.languageTag == 'en' %}
                <span>Published on: {{content.publish_date|datetimeformat("%d/%m/%Y")}}</span>
            {% else %}
                <span>Publié le : {{content.publish_date|datetimeformat("%d/%m/%Y")}}</span>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="bloc-img">
        <figure>
          <img src="{{ content.featured_image }}" loading="lazy" alt="{{ content.name }}" />        
        </figure>
      </a>
    </div>
  </section>
  <section class="breadcrumb">
    <div class="container">
      <div class="bloc-breadcrumb">
        <nav>
          <ul itemscope itemtype="https://schema.org/BreadcrumbList"
            class="breadcrumb d-flex flex-wrap align-items-center list-unstyled p-0 m-0">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="/"><span itemprop="name">Accueil</span></a>
              <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              {% if blog.name == "Intersec Pressroom" %}
                  {% if content.language.languageTag == 'en' %}
                    <a itemprop="item" href="/press/"><span itemprop="name">Press</span></a> 
                  {% else %}
                    <a itemprop="item" href="/fr/presse/"><span itemprop="name">Presse</span></a> 
                  {% endif %}
              {% else %}
                  <a itemprop="item" href="/blog"><span itemprop="name">Blog</span></a> 
              {% endif %}
              <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="{{ content.absolute_url }}">
                {{ content.name|truncatehtml(39, '...' , false)}}</a>
              <meta itemprop="position" content="4" />
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="contain-post">
    <div class="container">
      <div class="bloc-contain">
        {{ content.post_body }}
        {% module_block module "blog-post-cta" path="../../modules/blog-post-cta.module", label="Blog
        post CTA"%}{% end_module_block %}
        {% module_block module "blog-post-testimonial" path="../../modules/blog-post-testimonial.module", label="Blog
        post testimonial"%}{% end_module_block %}
      </div>
      <div class="bloc-anchor">
        <ul>

        </ul>
        {% if content.language.languageTag != 'en' %}
            {% set lang = '_fr' %}
        {% else %}
            {% set lang = '' %}
        {% endif %}
        {% for tags in content.topic_list %}
          {% set query_params = "typology__eq=10&orderBy=priority_order&limit=300" %}
          {% set results_global = hubdb_table_rows("Content",query_params) %}
          {% for item in results_global %}
            {% if lang == '_fr' %}
            
              {% for field in item.blog_tags_fr %}
                {% set tag = tags|replace('-', ' ') %}
                {% if field.label|replace('-', ' ') == tag|lower %}
                <div class="bloc-post-aside-cta">
                  {% if item.image.url %}
                      <div class="bloc-img">
                          <picture>
                            <img loading="lazy" src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
                          </picture>
                      </div>
                  {% endif %}
                  <div class="bloc-txt">
                      {% if content.language.languageTag == 'en' %}
                        <p class="title">{{ item.title }}</p>
                      {% else if content.language.languageTag == 'fr' %}
                        <p class="title">{{ item.fr_title }}</p>
                      {% endif %}
                      <div class="txt">
                        {% if content.language.languageTag == 'en' %}
                            {{ item.description }}
                        {% else if content.language.languageTag == 'fr' %}
                            {{ item.fr_description }}
                        {% endif %}
                      </div>
                      {% if content.language.languageTag == 'en' %}
                          <a href="{{ item.link }}" class="btn">
                              <svg xmlns="http://www.w3.org/2000/svg">
                                  <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                  <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                              </svg>
                              {{ item.button }}                                            
                          </a>
                      {% else if content.language.languageTag == 'fr' %}
                          <a href="{{ item.fr_link }}" class="btn">
                              <svg xmlns="http://www.w3.org/2000/svg">
                                  <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                  <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                              </svg>
                              {{ item.fr_button }}                                            
                          </a>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              {% for field in item.blog_tags %}
                {% set tag = tags|replace('-', ' ') %}
                {% if field.name|lower == tag|lower %}
                <div class="bloc-post-aside-cta">
                  {% if item.image.url %}
                      <div class="bloc-img">
                          <picture>
                            <img loading="lazy" src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
                          </picture>
                      </div>
                  {% endif %}
                  <div class="bloc-txt">
                      {% if content.language.languageTag == 'en' %}
                        <p class="title">{{ item.title }}</p>
                      {% else if content.language.languageTag == 'fr' %}
                        <p class="title">{{ item.fr_title }}</p>
                      {% endif %}
                      <div class="txt">
                        {% if content.language.languageTag == 'en' %}
                            {{ item.description }}
                        {% else if content.language.languageTag == 'fr' %}
                            {{ item.fr_description }}
                        {% endif %}
                      </div>
                      {% if content.language.languageTag == 'en' %}
                          <a href="{{ item.link }}" class="btn">
                              <svg xmlns="http://www.w3.org/2000/svg">
                                  <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                  <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                              </svg>
                              {{ item.button }}                                            
                          </a>
                      {% else if content.language.languageTag == 'fr' %}
                          <a href="{{ item.fr_link }}" class="btn">
                              <svg xmlns="http://www.w3.org/2000/svg">
                                  <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                  <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                              </svg>
                              {{ item.fr_button }}                                            
                          </a>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            
          {% endfor %}
        {% endfor %}

        {% module_block module "blog-post-aside-cta" path="../../modules/blog-post-aside-cta.module", label="Blog
        post aside CTA"%}{% end_module_block %}
      </div>
    </div>
  </section>
  {% module_block module "blog-post-other-posts" path="../../modules/blog-post-other-posts.module", label="Blog post other posts"%}{% end_module_block %}
</div>

{% endblock body %}