a.btn {
    color: $text-color1;
    background-color: #fff;
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    white-space: normal;
    vertical-align: middle;
    padding: 14px 58px 14px 28px;
    text-decoration: none;
    user-select: none;
    border-radius: 25px;
    transition: all 0.5s;
    &:hover{
        svg{
            rect.line-outline {
                stroke-dasharray:480px;
                stroke-dashoffset: 0px;
            }
            rect.line-dashed {
                stroke-dasharray:1px;
                stroke-dashoffset: 0px;
                opacity:0;
            }
        }
        &:after{
            opacity:1;
            transform: translateY(0px) translatex(0px);
            transition: 0.5s;
        }
        &:before{
            opacity:0;
            transform: scale(0.2) translateY(-10px) translatex(10px);
        }
    }
    svg{
        position: absolute;
        top:-0.5px;
        left:0px;
        width:100%;
        height:100%;
        z-index:3;
        pointer-events: none;
        rect{
            width:99%;
            height:97%;
            
            transition: all 0.8s ease-in-out 0s;
            stroke-width: 1px;
            stroke: $color2;
            &.line-dashed{
                stroke-dasharray:2px;
                stroke-dashoffset: 10px;
            }
            &.line-outline{
                stroke-dasharray:480px;
                stroke-dashoffset: 480px;
            }
        }
    }
    &:after{
        opacity:0;
        display:block;
        content:'';
        position: absolute;
        width:12px;
        height:12px;
        right:24px;
        top:calc(50% - 6px);
        background-color: $color2;
        transition: 0.35s;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-repeat: no-repeat;
        mask-position: center;
        transform: translateY(5px) translatex(-5px);
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.46967 7.46967C0.176777 7.76256 0.176777 8.23744 0.46967 8.53033C0.762563 8.82322 1.23744 8.82322 1.53033 8.53033L0.46967 7.46967ZM8.75 1C8.75 0.585786 8.41421 0.25 8 0.25H1.25C0.835786 0.25 0.5 0.585786 0.5 1C0.5 1.41421 0.835786 1.75 1.25 1.75H7.25V7.75C7.25 8.16421 7.58579 8.5 8 8.5C8.41421 8.5 8.75 8.16421 8.75 7.75V1ZM1.53033 8.53033L8.53033 1.53033L7.46967 0.46967L0.46967 7.46967L1.53033 8.53033Z' fill='%23F27026'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.46967 7.46967C0.176777 7.76256 0.176777 8.23744 0.46967 8.53033C0.762563 8.82322 1.23744 8.82322 1.53033 8.53033L0.46967 7.46967ZM8.75 1C8.75 0.585786 8.41421 0.25 8 0.25H1.25C0.835786 0.25 0.5 0.585786 0.5 1C0.5 1.41421 0.835786 1.75 1.25 1.75H7.25V7.75C7.25 8.16421 7.58579 8.5 8 8.5C8.41421 8.5 8.75 8.16421 8.75 7.75V1ZM1.53033 8.53033L8.53033 1.53033L7.46967 0.46967L0.46967 7.46967L1.53033 8.53033Z' fill='%23F27026'/%3E%3C/svg%3E");
    }
    &:before{
        display:block;
        content:'';
        position: absolute;
        right:28px;
        width:6px;
        height:6px;
        background-color: $color2;
        border-radius: 50%;
        top:calc(50% - 3px);
        transition: 0.5s;
    }
}