// Here you can setup your form options
h3.form-title {
    display: none;
}

form {
    &.hs-form {
        padding: 0px;
        margin-top:70px;
        div.hs-richtext{
            h3,h2{
                color:#fff;
                font-weight: 500;
                font-size: 32px;
                line-height: 120%;
            }
        }
        div.hs-form-field {
            margin-bottom: 25px;

            label {
                font-size: 12px;
                line-height:15px;
                margin: 0;
                color:#fff;
                opacity: 0.5;
                text-transform: uppercase;
                span+span {
                    color: rgba($color2, 1);
                    margin-left: 2px;
                }
            }

            legend {
                color: grey;
                display: block !important;
                font-size: 80%;
                margin: 0 0 6px 0;
            }

            div.input {
                input:not([type='checkbox']):not([type='radio']):not([type='file']),
                select,
                textarea {
                    width: 100% !important;
                    color: rgba($color1, 1);
                    background: transparent;
                    border:none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 0;
                    padding: 6px 0px;
                    outline: none;
                    -webkit-transition: 0.3s border, 0.3s box-shadow;
                    -moz-transition: 0.3s border, 0.3s box-shadow;
                    transition: 0.3s border, 0.3s box-shadow;
                    margin: 0px;
                    box-sizing: border-box;
                    color:#fff;
                    font-family: $font1;
                    &::placeholder{
                        color:#fff;
                        opacity: 1;
                    }
                }

                textarea {
                    height: 180px;
                }

                select {
                    -webkit-appearance: none;
                    appearance: none;
                    background-image: url("data:image/svg+xml,%3Csvg width='32' height='30' viewBox='0 0 32 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L1 30' stroke='%232C4C66' stroke-opacity='0.2'/%3E%3Cpath d='M24 24L17.0718 12L30.9282 12L24 24Z' fill='%23D9DADD'/%3E%3C/svg%3E");                    
                    background-repeat: no-repeat;
                    background-position: right 15px top 50%;
                    background-size: 24px auto;
                    padding-right: 38px;
                    height: 32px;

                    &::-ms-expand {
                        display: none;
                    }

                    option {
                        font-weight: normal;
                    }
                }

                input[type='file'] {
                    width: 100% !important;
                    background: #ffffff;
                    border: 1px dashed rgba($color1, 1);
                    border-radius: 0;
                    padding: 10px;
                    cursor: pointer;
                    outline: none;
                }

                ul.inputs-list {
                    display: flex;
                    margin: 0px;
                    padding: 0px;

                    li {
                        list-style-type: none;
                        margin-right: 20px;
                        margin-bottom: 0px;
                        label{
                            opacity:1;
                        }
                        &:last-child {
                            margin-right: 0px;
                        }

                        input[type='checkbox'],
                        input[type='radio'] {
                            position: absolute;
                            opacity: 0;
                        }

                        input[type='checkbox'] {
                            &:checked+span:before {
                                background: rgba($color1, 1);
                                border-color: rgba($color1, 1);
                            }

                            &:checked+span:after {
                                display: block;
                                left: 6px;
                                top: 6px;
                                width: 5px;
                                height: 9px;
                                border: solid #fff;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                                position: absolute;
                                content: '';
                            }
                        }

                        span {
                            font-size: 16px;
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                            margin-left:0px;
                            text-transform: none;
                            &::before {
                                content: '';
                                margin-right: 6px;
                                margin-top: 3px;
                                display: inline-block;
                                vertical-align: text-top;
                                width: 17px;
                                height: 17px;
                                background: #ffffff;
                                border: 1px solid rgba($color1, 1);
                            }
                        }

                        input[type='radio'] {
                            position: absolute;
                            opacity: 0;

                            &:checked {
                                &+span {
                                    &:after {
                                        opacity: 1;
                                        transform: scale(1);
                                        transition: 0.5s;
                                        -webkit-transition: 0.5s;
                                    }
                                }
                            }

                            &+span {
                                font-size: 16px;
                                position: relative;
                                cursor: pointer;
                                padding: 0;

                                &:before {
                                    content: '';
                                    margin-right: 6px;
                                    margin-top: 3px;
                                    display: inline-block;
                                    vertical-align: text-top;
                                    width: 17px;
                                    height: 17px;
                                    background: #ffffff;
                                    border: 1px solid rgba($color1, 1);
                                    border-radius: 100%;
                                }

                                &:after {
                                    content: '';
                                    width: 11px;
                                    height: 11px;
                                    background-color: $color1;
                                    display: block;
                                    opacity: 0;
                                    transform: scale(0.8);
                                    transition: 0s;
                                    -webkit-transition: 0s;
                                    border-radius: 50%;
                                    top: 6px;
                                    left: 3px;
                                    position: absolute;
                                }
                            }
                        }
                    }
                }
            }
        }
        fieldset {
            width: 100%;
            max-width: 100%;

            

            &.form-columns-2 {
                display: flex;
                justify-content: space-between;

                @media (max-width: 700px) {
                    flex-direction: column;
                }

                div.field {
                    width: calc(100% / 2 - 10px);

                    @media (max-width: 700px) {
                        width: 100%;
                    }
                }
            }

            &.form-columns-3 {
                display: flex;
                justify-content: space-between;

                @media (max-width: 700px) {
                    flex-direction: column;
                }

                div.field {
                    width: calc(100% / 3 - 10px);

                    @media (max-width: 700px) {
                        width: 100%;
                    }
                }
            }

            ul.hs-error-msgs {
                color: rgba($color2, 1);
                margin: 5px 0px 0px 0px;
                list-style-type: none;
                padding: 0px;

                li {
                    label {
                        color:#fff;
                        &.hs-main-font-element {
                            background-color: rgba($color2, 1);
                            padding: 20px 40px;
                            text-align: center;
                            color: #fff;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }

            div.hs_rgpd {
                ul {
                    margin: 0px;
                    padding: 0px;

                    li {
                        list-style: none;

                        label {

                            input[type='checkbox'],
                            input[type='radio'] {
                                position: absolute;
                                opacity: 0;
                            }

                            input[type='checkbox'] {
                                &:checked+span:before {
                                    background: rgba($color1, 1);
                                    border-color: rgba($color1, 1);
                                }

                                &:checked+span:after {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    left: 6px;
                                    top: 6px;
                                    width: 5px;
                                    height: 9px;
                                    border: solid #fff;
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }

                                +span {
                                    position: relative;
                                }

                                +span:before {
                                    content: '';
                                    margin-right: 6px;
                                    margin-top: 3px;
                                    display: inline-block;
                                    vertical-align: text-top;
                                    width: 17px;
                                    height: 17px;
                                    background: #ffffff;
                                    border: 1px solid rgba($color1, 1);
                                }
                            }
                        }
                    }
                }
            }
        }

        div.hs_error_rollup {
            background-color: rgba($color2, 1);
            color: #fff;
            text-align: center;
            padding: 30px;

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                li {
                    label {
                        margin: 0px;
                        color:#fff !important;
                        opacity:1 !important;
                    }
                }
            }
        }

        div.hs_input_file {
            input[type='file'] {
                width: 100% !important;
                background: #ffffff;
                border: 1px dashed rgba($color1, 1);
                border-radius: 0;
                padding: 10px;
                cursor: pointer;
                outline: none;
            }
        }

        div.hs_submit {
            margin-top: 30px;
        }
    }
    
    div.actions{
        display:flex;
        justify-content: flex-end;
        margin-top: 42px;
        input[type="submit"] {
            display: inline-block;
            position: relative;
            width: auto;
            background-color: $color1;
            font-size: 16px;
            line-height:18px;
            font-weight: 500;
            border-radius: 5px;
            color: $color2;
            padding: 15px 58px 15px 28px;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            border: 1px dashed $color2;
            border-radius: 24.5px;
            appearance:none;
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.46967 7.46967C0.176777 7.76256 0.176777 8.23744 0.46967 8.53033C0.762563 8.82322 1.23744 8.82322 1.53033 8.53033L0.46967 7.46967ZM8.75 1C8.75 0.585786 8.41421 0.25 8 0.25H1.25C0.835786 0.25 0.5 0.585786 0.5 1C0.5 1.41421 0.835786 1.75 1.25 1.75H7.25V7.75C7.25 8.16421 7.58579 8.5 8 8.5C8.41421 8.5 8.75 8.16421 8.75 7.75V1ZM1.53033 8.53033L8.53033 1.53033L7.46967 0.46967L0.46967 7.46967L1.53033 8.53033Z' fill='%23F27026'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: calc(100% - 17px) 50%;
        }
    }
}
div.submitted-message{
    background-color: $color2;
    color:#fff;
    text-align: center;
    padding:20px;
    margin-top:50px;
    border-radius: 5px;
}