.container-blog-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:140px;
  .blog-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      text-decoration: none;
      color: $color1;
      border-radius: 4px;
      transition: all 0.3s ease;
      position: relative;
      margin:0px 10px;
      &:after{
        display:block;
        border:1px solid $color2;
        border-radius: 50%;
        width:42px;
        height:42px;
        content:'';
        position: absolute;
        left:50%;
        top:50%;
        opacity:0;
        transform: translateY(-50%) scale(0.9) translateX(-50%);
      }
      &:hover {
        opacity: 1;
      }
      &.blog-pagination__link--active{
        &:after{
          opacity:1;
          transform: translateY(-50%) scale(1) translateX(-50%);
        }
      }
    }
  }
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 30px;
    width: 30px;
    opacity: 1;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
    &.next {
      transform: rotate(0);
    }

  }
}
