footer{
    position: relative;
    &:after{
        display:block;
        content:'';
        position: absolute;
        background-color: $color1;
        width:100%;
        height:calc(100% + 2px);
        top:50%;
        left:0px;
        transform: translateY(-50%);
        z-index:0;
        background-repeat: repeat-x;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='201' height='2354' viewBox='0 0 201 2354' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.25' y1='1.09278e-08' x2='0.249897' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3Cline x1='200.25' y1='1.09278e-08' x2='200.25' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3C/svg%3E");
    }
    div.contain-main-footer{
        padding:0px 0px 55px 0px;
        position: relative;
        z-index:2;
        @media(max-width:$size3){
            padding:0px 0px 40px 0px;
        }
        div.container{
            display:flex;
            justify-content: space-between;
            @media(max-width:$size3){
                flex-direction: column;
            }
        }
        div.bloc-logo{
            @media(max-width:$size3){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            a.logo{
                img{
                    @media(max-width:$size3){
                        max-width:112px;
                    }
                }
            }
            div.socials{
                display:flex;
                margin-top:44px;
                gap:0px 45px;
                margin-right:65px;
                @media(max-width:$size3){
                    margin-top:0px;
                    margin-right:0px;
                    gap:0px 25px;
                }
                a{
                    width:20px;
                    height:20px;
                    border-radius: 50%;
                    display:block;
                    text-indent: -9999px;
                    position: relative;
                    transition: 0.5s;
                    &:hover{
                        &:after{
                            background-color: #fff;
                        }
                    }
                    &:after{
                        transition: 0.5s;
                        display: block;
                        content:'';
                        position: absolute;
                        left:0px;
                        top:0px;
                        width:100%;
                        height:100%;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        -webkit-mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        background-color: $color2;
                    }
                    &.youtube{
                        &:after{
                            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8008 3.86035C19.8008 3.86035 19.6055 2.48145 19.0039 1.87598C18.2422 1.0791 17.3906 1.0752 17 1.02832C14.2031 0.825195 10.0039 0.825195 10.0039 0.825195H9.99609C9.99609 0.825195 5.79688 0.825195 3 1.02832C2.60938 1.0752 1.75781 1.0791 0.996094 1.87598C0.394531 2.48145 0.203125 3.86035 0.203125 3.86035C0.203125 3.86035 0 5.48145 0 7.09863V8.61426C0 10.2314 0.199219 11.8525 0.199219 11.8525C0.199219 11.8525 0.394531 13.2314 0.992187 13.8369C1.75391 14.6338 2.75391 14.6064 3.19922 14.6924C4.80078 14.8447 10 14.8916 10 14.8916C10 14.8916 14.2031 14.8838 17 14.6846C17.3906 14.6377 18.2422 14.6338 19.0039 13.8369C19.6055 13.2314 19.8008 11.8525 19.8008 11.8525C19.8008 11.8525 20 10.2354 20 8.61426V7.09863C20 5.48145 19.8008 3.86035 19.8008 3.86035ZM7.93359 10.4541V4.83301L13.3359 7.65332L7.93359 10.4541Z' fill='%23F1762C'/%3E%3C/svg%3E%0A");
                            mask-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8008 3.86035C19.8008 3.86035 19.6055 2.48145 19.0039 1.87598C18.2422 1.0791 17.3906 1.0752 17 1.02832C14.2031 0.825195 10.0039 0.825195 10.0039 0.825195H9.99609C9.99609 0.825195 5.79688 0.825195 3 1.02832C2.60938 1.0752 1.75781 1.0791 0.996094 1.87598C0.394531 2.48145 0.203125 3.86035 0.203125 3.86035C0.203125 3.86035 0 5.48145 0 7.09863V8.61426C0 10.2314 0.199219 11.8525 0.199219 11.8525C0.199219 11.8525 0.394531 13.2314 0.992187 13.8369C1.75391 14.6338 2.75391 14.6064 3.19922 14.6924C4.80078 14.8447 10 14.8916 10 14.8916C10 14.8916 14.2031 14.8838 17 14.6846C17.3906 14.6377 18.2422 14.6338 19.0039 13.8369C19.6055 13.2314 19.8008 11.8525 19.8008 11.8525C19.8008 11.8525 20 10.2354 20 8.61426V7.09863C20 5.48145 19.8008 3.86035 19.8008 3.86035ZM7.93359 10.4541V4.83301L13.3359 7.65332L7.93359 10.4541Z' fill='%23F1762C'/%3E%3C/svg%3E%0A");                        }
                    }
                    &.linkedin{
                        &:after{
                            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5195 0.858398H1.47656C0.660156 0.858398 0 1.50293 0 2.2998V19.4131C0 20.21 0.660156 20.8584 1.47656 20.8584H18.5195C19.3359 20.8584 20 20.21 20 19.417V2.2998C20 1.50293 19.3359 0.858398 18.5195 0.858398ZM5.93359 17.9014H2.96484V8.35449H5.93359V17.9014ZM4.44922 7.05371C3.49609 7.05371 2.72656 6.28418 2.72656 5.33496C2.72656 4.38574 3.49609 3.61621 4.44922 3.61621C5.39844 3.61621 6.16797 4.38574 6.16797 5.33496C6.16797 6.28027 5.39844 7.05371 4.44922 7.05371ZM17.043 17.9014H14.0781V13.2607C14.0781 12.1553 14.0586 10.7295 12.5352 10.7295C10.9922 10.7295 10.7578 11.9365 10.7578 13.1826V17.9014H7.79688V8.35449H10.6406V9.65918H10.6797C11.0742 8.90918 12.043 8.11621 13.4844 8.11621C16.4883 8.11621 17.043 10.0928 17.043 12.6631V17.9014Z' fill='%23F1762C'/%3E%3C/svg%3E%0A");
                            mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5195 0.858398H1.47656C0.660156 0.858398 0 1.50293 0 2.2998V19.4131C0 20.21 0.660156 20.8584 1.47656 20.8584H18.5195C19.3359 20.8584 20 20.21 20 19.417V2.2998C20 1.50293 19.3359 0.858398 18.5195 0.858398ZM5.93359 17.9014H2.96484V8.35449H5.93359V17.9014ZM4.44922 7.05371C3.49609 7.05371 2.72656 6.28418 2.72656 5.33496C2.72656 4.38574 3.49609 3.61621 4.44922 3.61621C5.39844 3.61621 6.16797 4.38574 6.16797 5.33496C6.16797 6.28027 5.39844 7.05371 4.44922 7.05371ZM17.043 17.9014H14.0781V13.2607C14.0781 12.1553 14.0586 10.7295 12.5352 10.7295C10.9922 10.7295 10.7578 11.9365 10.7578 13.1826V17.9014H7.79688V8.35449H10.6406V9.65918H10.6797C11.0742 8.90918 12.043 8.11621 13.4844 8.11621C16.4883 8.11621 17.043 10.0928 17.043 12.6631V17.9014Z' fill='%23F1762C'/%3E%3C/svg%3E%0A");                            
                        }
                    }
                    &.twitter{
                        &:after{
                            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2918 17.1212C13.8371 17.1212 17.9652 10.8685 17.9652 5.44777C17.9652 5.27199 17.9613 5.0923 17.9535 4.91652C18.7566 4.33577 19.4496 3.61643 20 2.7923C19.2521 3.12505 18.458 3.34237 17.6449 3.43683C18.5011 2.92364 19.1421 2.11744 19.4492 1.16769C18.6438 1.64501 17.763 1.98173 16.8445 2.16339C16.2257 1.50585 15.4075 1.07048 14.5164 0.924592C13.6253 0.778704 12.711 0.930424 11.9148 1.3563C11.1186 1.78217 10.4848 2.45847 10.1115 3.28064C9.73825 4.10281 9.64619 5.02506 9.84961 5.9048C8.21874 5.82296 6.62328 5.3993 5.16665 4.6613C3.71002 3.92329 2.42474 2.88741 1.39414 1.62081C0.870333 2.52392 0.710047 3.59259 0.945859 4.60963C1.18167 5.62666 1.79589 6.51576 2.66367 7.0962C2.01219 7.07552 1.37498 6.90012 0.804688 6.58448V6.63527C0.804104 7.58301 1.13175 8.5017 1.73192 9.23519C2.3321 9.96868 3.16777 10.4717 4.09687 10.6587C3.49338 10.8238 2.85999 10.8479 2.2457 10.729C2.50788 11.5441 3.01798 12.257 3.70481 12.7682C4.39164 13.2794 5.22093 13.5634 6.07695 13.5806C4.62369 14.7221 2.82848 15.3413 0.980469 15.3384C0.652739 15.3379 0.325333 15.3178 0 15.2782C1.87738 16.4827 4.06128 17.1224 6.2918 17.1212Z' fill='white'/%3E%3C/svg%3E");
                            mask-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2918 17.1212C13.8371 17.1212 17.9652 10.8685 17.9652 5.44777C17.9652 5.27199 17.9613 5.0923 17.9535 4.91652C18.7566 4.33577 19.4496 3.61643 20 2.7923C19.2521 3.12505 18.458 3.34237 17.6449 3.43683C18.5011 2.92364 19.1421 2.11744 19.4492 1.16769C18.6438 1.64501 17.763 1.98173 16.8445 2.16339C16.2257 1.50585 15.4075 1.07048 14.5164 0.924592C13.6253 0.778704 12.711 0.930424 11.9148 1.3563C11.1186 1.78217 10.4848 2.45847 10.1115 3.28064C9.73825 4.10281 9.64619 5.02506 9.84961 5.9048C8.21874 5.82296 6.62328 5.3993 5.16665 4.6613C3.71002 3.92329 2.42474 2.88741 1.39414 1.62081C0.870333 2.52392 0.710047 3.59259 0.945859 4.60963C1.18167 5.62666 1.79589 6.51576 2.66367 7.0962C2.01219 7.07552 1.37498 6.90012 0.804688 6.58448V6.63527C0.804104 7.58301 1.13175 8.5017 1.73192 9.23519C2.3321 9.96868 3.16777 10.4717 4.09687 10.6587C3.49338 10.8238 2.85999 10.8479 2.2457 10.729C2.50788 11.5441 3.01798 12.257 3.70481 12.7682C4.39164 13.2794 5.22093 13.5634 6.07695 13.5806C4.62369 14.7221 2.82848 15.3413 0.980469 15.3384C0.652739 15.3379 0.325333 15.3178 0 15.2782C1.87738 16.4827 4.06128 17.1224 6.2918 17.1212Z' fill='white'/%3E%3C/svg%3E");
                        }
                    }
                }
            }
        }
        
        div.bloc-menu{
            display:flex;
            justify-content: space-between;
            width:100%;
            div.bloc-menu-nav{
                width:100%;
                display: flex;
                justify-content: flex-end;
                span,div{
                    width:100%;
                }
                @media(max-width:$size3){
                    max-width:100%;
                    margin-top:60px;
                }
                ul{
                    margin:0px;
                    padding:0px;
                    display:flex;
                    @media(max-width:$size3){
                        flex-wrap: wrap;
                        flex-grow: 2;
                        justify-content: space-between;
                    }
                    li{
                        list-style-type: none;
                        margin-right:80px;
                        max-width:160px;
                        @media(max-width:$size3){
                            margin-right:0px;
                            max-width:150px;
                            width:50%;
                            margin-bottom:20px;
                        }
                        a{
                            color:#fff;
                            font-size: 16px;
                            line-height: 23px;
                            text-decoration: none;
                            display:inline-block;
                        }
                        ul{
                            flex-direction: column;
                            margin-top:16px;
                            @media(max-width:$size3){   
                                margin-top:6px;
                            }
                            li{
                                margin-right:0px;
                                @media(max-width:$size3){   
                                    width:100%;
                                    margin-bottom:3px;
                                }
                                a{
                                    color:#fff;
                                    font-weight: 400;
                                    opacity:0.5;
                                    font-size: 14px;
                                    line-height: 20px;
                                    text-transform: inherit;
                                    transition: 0.5s;
                                    @media(max-width:$size3){   
                                        line-height:14px;
                                    }
                                    &:hover{
                                        opacity:1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    div.contain-sub-footer{
        position: relative;
        z-index: 2;
        div.container{
            font-size:16px;
            line-height:28px;
            padding-top:25px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            display:flex;
            justify-content: space-between;
            @media(max-width:$size1){
                max-width:calc(100% - 66px);
                padding:30px 0px 65px 0px;
            }
            @media(max-width:$size4){
                flex-direction: column;
            }
            p{
                color:#fff;
                font-size: 13px;
                line-height: 20px;
                margin:0px;
            }
            ul{
                margin:0px;
                padding:0px;
                display:flex;
                @media(max-width:$size4){
                    margin-top:20px;
                }
                li{
                    list-style-type: none;
                    margin-left: 60px;
                    @media(max-width:$size4){
                        margin-left: 0px;
                        margin-right: 35px;
                    }
                    a{
                        color:#fff;
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}