section.hero-career{    
    background-color: $color1;
    position: relative;
    background-repeat: repeat-x;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='201' height='2354' viewBox='0 0 201 2354' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.25' y1='1.09278e-08' x2='0.249897' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3Cline x1='200.25' y1='1.09278e-08' x2='200.25' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3C/svg%3E");
    @media(max-width:$size3){
        overflow: hidden;
    }
    &.active{
        div.bloc-bg-lines{
            div.line{
                transform: translateY(-100%);
                opacity:0.5;
                &:nth-child(2){
                    transform: rotate(-180deg) translateY(-100%);
                }
            }
        }
    }
    &.play-video{
        &:before{
            opacity:1;
            z-index:20;
        }
    }
   
    div.bloc-bg-lines{
        display:block;
        position: absolute;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        overflow:hidden;
        div.line{
            width:6px;
            height:478px;
            position: absolute;
            z-index:2;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            background-size: 4px;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='482' viewBox='0 0 6 482' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333ZM2.50002 481C2.50002 481.276 2.72388 481.5 3.00002 481.5C3.27616 481.5 3.50002 481.276 3.50002 481L2.50002 481ZM2.5 3L2.50002 481L3.50002 481L3.5 3L2.5 3Z' fill='url(%23paint0_linear_313_949)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_313_949' x1='2.00035' y1='72.5' x2='2.00035' y2='242' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F1762C'/%3E%3Cstop offset='1' stop-color='%23F1762C' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");            
            opacity: 0;
            
            transform: translateY(100%);
            transition-timing-function: cubic-bezier(.26,0,.14,.95);
            &.line-1{
                left:calc(50% - 708px);
                bottom:0px;
                transition: 6.75s;
            }
            &.line-2{
                right:calc(50% + 97px);
                bottom:0px;
                transition-delay: 0.35s;
                transition: 6.25s;
                transform: rotate(-180deg) translateY(140%);
            }
            &.line-3{
                right:calc(50% - 708px);
                bottom:0px;
                transition: 4.35s;
                transition-delay: 1.35s;
            }
            &:after{
                display:block;
                content:'';
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                top:-12px;
                background: rgba(241, 118, 44, 0.5);
                filter: blur(4px);
                width:24px;
                height:24px;
                border-radius:50%;
            }
            &:before{
                border: 0.5px solid #F1762C;
                display:block;
                content:'';
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                width: 50px;
                height: 50px;
                top:-25px;
                border-radius:50%;
                
            }
        }
    }
    &:after{
        display:none;
        content:'';
        background-color: #fff;
        width:100%;
        height:150px;
        position: absolute;
        bottom:0px;
        left:0px;
        z-index:0;
        @media(max-width:$size3){
            display:none;
        }
    }
    
    div.container{
        display:flex;
        align-items: flex-end;
        position: relative;
        z-index:3;
        padding-top:150px;
        padding-bottom: 130px;
        @media(max-width:$size3){
            flex-direction: column;
            padding-top:170px;
        }
        div.bloc-txt{
            max-width:600px;
            position: relative;
            z-index:5;
            margin: 0 auto;
            @media(max-width:$size3){
                min-height: inherit;
            }
            p.figure{
                text-align: center;
                font-weight: 500;
                font-size: 150px;
                line-height: 110px;
                margin:0px;
                color:#fff;
                min-height:110px;
            }
            p.subtitle{
                text-align: center;
                color:#fff;
                font-weight: 500;
                font-size: 18px;
                line-height: 120%;
                text-transform: uppercase;
                @media(max-width:$size3){
                    pointer-events: none;
                }
            }
            h1{
                color:#fff;
                font-size:70px;
                line-height:77px;
                margin-bottom:45px;
                text-align: center;
                max-width:500px;
                @media(max-width:$size3){
                    font-size:50px;
                    line-height:55px;
                    pointer-events: none;
                }
            }
            a.btn{
                background-color: transparent;
                color:$color2;
                opacity:0;
                left:50%;
                transform: translateX(-50%);
                position: relative;
            }
        }
        div.bloc-imgs{
            position: absolute;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            z-index:3;
            @media(max-width:$size3){
                z-index:0;
            }
            &.videoPlay{
                z-index:6;
                @media(max-width:$size3){
                    z-index:5;
                }
                &:before{
                    opacity:1;
                    z-index:20;
                }
            }
            &:before{
                content:'';
                display: block;
                position: absolute;
                top:0px;
                left:50%;
                top:50%;
                transform: translateY(-50%) translateX(-50%);
                width:100vw;
                height:100%;
                background-color: rgba($color1,0.5);
                opacity:0;
                transition: 0.75s;
            }
            div.bloc{
                display:block;
                content:'';
                position: absolute;
                border-radius: 50%;
                padding:29px;
                cursor: pointer;
                transition: 0.55s;
                z-index:10;
                opacity:0;
                transform: translateY(20px);
                @media(max-width:$size3){
                    padding:17px;
                    z-index:3;
                }
                &:hover{
                    &:before{
                        transform: scale(0.9);
                    }
                    figure{
                        &:before{
                            background-color: #fff;
                        }
                        img{
                            transform: scale(1.05);
                        }
                    }
                }
                &:before{
                    display: block;
                    content:'';
                    width:100%;
                    height:100%;
                    position: absolute;
                    left:0px;
                    top:0px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.07);
                    transition: 0.55s;
                    backdrop-filter: blur(8px);
                    @media(max-width:$size3){
                        max-width:250px;
                        max-height:250px;
                        display: none;
                    }
                }
                &:nth-child(1){
                    width: 237px;
                    height: 237px;
                    left:0px;
                    top:200px;
                    @media(max-width:$size1){
                        left:30px;
                    }
                    @media(max-width:$size3){
                        width:120px;
                        height:120px;
                        left:30px;
                    }
                    &.selected{
                        width:550px;
                        height:550px;
                        left:calc(50% - 275px);
                        top:calc(50% - 275px);
                        padding:77px;
                        @media(max-width:$size3){
                            width:100%;
                            height:100%;
                            left:calc(0%);
                            top:calc(0%);
                        }
                    }
                }
                &:nth-child(2){
                    width: 206px;
                    height: 206px;
                    right:100px;
                    top:100px;
                    @media(max-width:$size1){
                        right:30px;
                    }
                    @media(max-width:$size3){
                        width:120px;
                        height:120px;
                    }
                    &.selected{
                        width:550px;
                        height:550px;
                        right:calc(50% - 275px);
                        top:calc(50% - 275px);
                        padding:77px;
                        @media(max-width:$size3){
                            width:100%;
                            height:100%;
                            left:calc(0%);
                            top:calc(0%);
                        }
                    }
                }
                &:nth-child(3){
                    width: 206px;
                    height: 206px;
                    left:80px;
                    bottom:30px;
                    @media(max-width:$size1){
                        left:30px;
                    }
                    @media(max-width:$size3){
                        width:120px;
                        height:120px;
                    }
                    &.selected{
                        width:550px;
                        height:550px;
                        left:calc(50% - 275px);
                        bottom:calc(50% - 275px);
                        padding:77px;
                        @media(max-width:$size3){
                            width:100%;
                            height:100%;
                            left:calc(0%);
                            top:calc(0%);
                        }
                    }
                }
                &:nth-child(4){
                    width: 275px;
                    height: 275px;   
                    right:0px;
                    bottom:100px; 
                    @media(max-width:$size1){
                        right:30px;
                    }
                    @media(max-width:$size3){
                        width:120px;
                        height:120px;
                    } 
                    &.selected{
                        width:550px;
                        height:550px;
                        right:calc(50% - 275px);
                        bottom:calc(50% - 275px);
                        padding:77px;
                        @media(max-width:$size3){
                            width:100%;
                            height:100%;
                            left:calc(0%);
                            top:calc(0%);
                        }
                    } 
                }
                &.selected{
                    z-index:100;
                    figure{
                        opacity:0;
                        pointer-events: none;
                        &:before{
                            opacity:0;
                        }
                        &:before{
                            width:63px;
                            height:63px;
                            mask-size: contain;
                        }
                    }
                    div.bloc-video{
                        opacity:1;
                        pointer-events: inherit;
                    }
                }
                &.play{
                    figure{
                        opacity:0;
                        pointer-events: none;
                        &:before{
                            opacity:0;
                        }
                    }
                    div.bloc-video{
                        opacity:1;
                        pointer-events: inherit;
                    }
                }
                figure{
                    display:block;
                    width:100%;
                    height:100%;
                    border-radius: 50%;
                    overflow:hidden;
                    position: relative;
                    z-index:2;
                    &:before{
                        display:block;
                        content:'';
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translateY(-50%) translateX(-50%);
                        mask-repeat: no-repeat;
                        width: 27.3px;
                        height: 27.33px;
                        transition: 0.55s;
                        background-color: $color2;
                        mask-position: center;
                        z-index:2;
                        mask-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.1601 11.8018L2.94007 0.191792C2.62682 0.0466603 2.28224 -0.0178188 1.93771 0.00422404C1.59318 0.0262669 1.25963 0.134132 0.967429 0.318C0.675228 0.501868 0.433654 0.7559 0.2647 1.05697C0.0957449 1.35804 0.00477479 1.69659 7.02113e-05 2.04179V25.2518C-0.00285516 25.6061 0.08568 25.9553 0.257119 26.2654C0.428558 26.5755 0.677102 26.8362 0.978729 27.0222C1.28036 27.2082 1.62487 27.3133 1.97896 27.3272C2.33305 27.3411 2.68475 27.2635 3.00007 27.1018L26.1601 15.4918C26.5031 15.3196 26.7916 15.0554 26.9931 14.7287C27.1947 14.402 27.3014 14.0257 27.3014 13.6418C27.3014 13.2579 27.1947 12.8816 26.9931 12.5549C26.7916 12.2282 26.5031 11.964 26.1601 11.7918V11.8018Z' fill='%23F1762C'/%3E%3C/svg%3E%0A");
                    }
                    img{
                        display:block;
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        transition: 0.55s;
                    }
                }
                div.bloc-video{
                    position: absolute;
                    width:700px;
                    height:430px;
                    height:auto;
                    top:50%;
                    left:50%;
                    transform: translateY(-50%) translateX(-50%);
                    z-index:0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    pointer-events: none;
                    @media(max-width:$size3){
                        width:calc(100% - 40px);
                        max-width:450px;
                        iframe{
                            height: 240px;
                        }
                    }
                }
            }
        }
    }
    a.container-btn-join{
        position: absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        width:140px;
        height:140px;
        top:50%;
        transform: translateY(-50%);
        right:0px;
        z-index:1000;
        text-decoration: none;
        div.btn-join{
            width:95px;
            height:95px;
            background-color: $color2;
            border-radius: 50%;
            display:flex;
            align-items: center;
            justify-content: center;            
            z-index:-1;
            text-decoration: none;
            opacity:0;
            position: relative;
            pointer-events: none;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
            span{
                color:#fff;
                font-weight: 500;
                font-size: 19px;
                line-height: 100%;
                text-align: center;
            }
            svg{
                position: absolute;
                top:calc(50% + 1px);
                left:calc(50% + 1px);
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
    
}

