section.hero-company{
    padding-top:250px;
    position: relative;
    @media(max-width:$size3){
        overflow:hidden;
    }
    p.title_bg{
        position: absolute;
        color:#F9F9F9;
        left:0%;
        top:26%;
        font-weight: 700;
        font-size:280px;
        line-height:280px;
        letter-spacing: 0.075em;
        margin:0px;
        opacity:0;
        z-index:-1;
        width:100%;
        display:block;
        white-space: nowrap;
        text-transform: uppercase;
        @media(max-width:$size4){
            font-size:200px;
            line-height:200px;
        }
    }
    div.container{
        position: relative;
        
        h1{
            font-weight: 500;
            font-size: 70px;
            line-height: 130%;
            letter-spacing: 0.02em;
            max-width:880px;
            @media(max-width:$size3){
                font-size:55px;
                line-height:60px;
            }
        }
        div.bloc-img{
            height:600px;
            width:100%;
            margin-top:160px;
            overflow:hidden;
            position: relative;
            @media(max-width:$size3){
                margin-top:70px;
                height:350px;
            }
            @media(max-width:$size5){
                height:250px;
            }
            div.bloc-contain-img{
                transform: scale(1.1);
                width:100%;
                height:100%;
                div.bloc-squares{
                    display: flex;
                    flex-wrap: wrap;
                    flex-grow: 6;
                    position: relative;
                    height:100%;
                    width:100%;
                    
                    //opacity:0;
                    span.square{
                        width:calc(100% / 6);
                        height:calc(100% / 3);
                        position: absolute;
                        left:calc(50% - ((100% / 6) / 2));
                        top:calc(50% - ((100% / 4) / 3) );
                        transform: scale(0.15);
                        background-color: $color1;
                        opacity:0;
                        span.bg-square{
                            background-repeat: no-repeat;
                            width:100%;
                            height:100%;
                            display: block;
                            text-indent: -9999px;
                            opacity:0;
                            @media(max-width:$size3){
                                background-size: 100vw !important;
                            }
                        }
                    }
                }
            }
            
        }
        
    }
}