section.hero-home{
    padding-top:325px;
    padding-bottom:210px;
    position: relative;
    background-color: $color1;
    overflow:hidden;
    &:after{
        display:block;
        height:115px;
        content:'';
        position: absolute;
        left:0px;
        top:0px;
        width:100%;
        background-color: $color1;
        z-index:1;
    }
    svg{
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        pointer-events: none;
        &.active{
            circle{
                opacity:1;
                &.rotate,&.reverse{
                    transform: rotate(0deg);
                }
            }
        }
        circle{
            transform-origin: 50% 50%;
            opacity:0;
            &.rotate{
                transform: rotate(-130deg);
                transition: 2.5s;
            }
            &.reverse{
                transform: rotate(130deg);
                transition: 4.5s;
            }
        }
    }
    div.container{
        position: relative;
        z-index:2;
        h1{
            text-align: center;
            color:#fff;
        }
        p{
            max-width:495px;
            margin:0 auto;
            color:#fff;
            &.subtitle{
                text-align: center;
                position: relative;
                display: inline-block;
                left:50%;
                transform: translateX(-50%);
                margin-bottom:45px;
                padding-bottom:4px;
                color:$color2;
            }
        }
        div.bloc-btns{
            display: flex;
            justify-content: center;
            margin-top:60px;
            div.row-btns{
                a.btn{
                    margin:0px 15px;
                    background-color: $color2;
                    color:#fff;
                    &:before,&:after{
                        background-color: #fff;
                    }
                }
            }
        }
    }
}