section.job{
    position: relative;
    background-color: $color1;
    background-repeat: repeat-x;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='201' height='2354' viewBox='0 0 201 2354' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.25' y1='1.09278e-08' x2='0.249897' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3Cline x1='200.25' y1='1.09278e-08' x2='200.25' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3C/svg%3E");
    &.active{
        div.bloc-bg-lines{
            div.line{
                transform: translateY(-100%);
                opacity:0.5;
                &:nth-child(2){
                    transform: rotate(-180deg) translateY(-100%);
                }
            }
        }
    }
    div.bloc-bg-lines{
        display:block;
        position: absolute;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        overflow:hidden;
        div.line{
            width:6px;
            height:478px;
            position: absolute;
            z-index:2;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            background-size: 4px;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='482' viewBox='0 0 6 482' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333ZM2.50002 481C2.50002 481.276 2.72388 481.5 3.00002 481.5C3.27616 481.5 3.50002 481.276 3.50002 481L2.50002 481ZM2.5 3L2.50002 481L3.50002 481L3.5 3L2.5 3Z' fill='url(%23paint0_linear_313_949)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_313_949' x1='2.00035' y1='72.5' x2='2.00035' y2='242' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F1762C'/%3E%3Cstop offset='1' stop-color='%23F1762C' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");            
            opacity: 0.5;
            
            transform: translateY(100%);
            transition-timing-function: cubic-bezier(.26,0,.14,.95);
            &.line-1{
                left:calc(50% - 708px);
                bottom:0px;
                transition: 6.75s;
            }
            &.line-3{
                right:calc(50% - 708px);
                bottom:0px;
                transition: 4.35s;
                transition-delay: 1.35s;
            }
            &:after{
                display:block;
                content:'';
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                top:-12px;
                background: rgba(241, 118, 44, 0.5);
                filter: blur(4px);
                width:24px;
                height:24px;
                border-radius:50%;
            }
            &:before{
                border: 0.5px solid #F1762C;
                display:block;
                content:'';
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                width: 50px;
                height: 50px;
                top:-25px;
                border-radius:50%;
                
            }
        }
    }
    div.container{
        position: relative;
        z-index:2;
        display:flex;
        h2{
            color:#fff;
            margin-bottom:80px;
        }
        div.bloc-tags{
            display:flex;
            flex-direction: column;
            gap:20px;
            margin-right:150px;
            max-width:340px;
            width:100%;
            @media(max-width:$size3){
                flex-direction: column;
            }
            p.title{
                display:flex;
                align-items: center;
                color:#fff;
                font-weight: 500;
                font-size: 32px;
                line-height: 120%;
                margin:0px;
                order:2;
                cursor: pointer;
                //transition: 0.75s;
                opacity:0;
                &.rd{
                    order:1;
                }
                &.other{
                    order:100;
                }
                &.selected{
                    color:$color2;
                    span{
                        color:#fff;
                    }
                }
                span{
                    font-weight: 500;
                    font-size: 19px;
                    line-height: 120%;
                    color: rgba(255, 255, 255, 0.5);
                    display: inline-block;
                    margin-left:30px;
                    transition: 0.75s;
                }
            }
        }
        div.bloc-offers{
            width:100%;
            max-width: 350px;
            @media(max-width:$size3){
                max-width:100%;
            }
            a.bloc{
                position: relative;
                padding-left:45px;
                margin-bottom:45px;
                text-decoration: none;
                display: none;
                
                &.selected{
                    display: block;
                    opacity:0;
                    transform: translateY(20px);
                }
                div.circles{
                    position: absolute;
                    height:25px;
                    width:25px;
                    top:50%;
                    transform: translateY(-50%);
                    left:0px;
                    @media(max-width:$size3){
                        margin-left:30px;
                     }
                     div.item-title{
                         @media(max-width:$size3){
                             margin-left:10px;
                         }
                     }
                    svg.line-outline{
                        transition: 0.5s;
                        circle{
                            stroke:#fff;
                        }
                    }
                    svg.line-dashed{
                        position: absolute;
                        left:50%;
                        top:50%;
                        opacity:0;
                        transition: 0.75s;
                        transform: translateY(-50%) translateX(-50%) scale(0.7);
                        @media(max-width:$size3){
                            width:100px;
                            height:100px;
                        }
                        circle{
                            stroke:$color2;
                        }
                    }
                }
                p.name{
                    color:#fff;
                    font-weight: 500;
                    font-size: 19px;
                    line-height: 120%;
                    margin:0px 0px 5px 0px;
                }
                div.tags{
                    display:flex;
                    p{
                        font-weight: 400;
                        font-size: 14px;
                        opacity: 0.5;
                        line-height: 130%;
                        color:#fff;
                        text-transform: uppercase;
                        margin:0px;
                        span{
                            margin:0px 10px;
                            position: relative;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        div.bloc-btn{
            max-width:290px;
            margin-left:125px;
            @media(max-width:$size3){
                max-width:100%;
                margin-left:0px;
            }
            h3{
                color:#fff;
                font-weight: 500;
                font-size: 32px;
                line-height: 120%;
            }
            div.row-btns{
                a.btn{
                    background-color: transparent;
                    color:$color2;
                }
            }
        }
    }
}