section.key-figures{
    position: relative;
    &.bg-black{
        background-color: $color1;
        background-repeat: repeat-x;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='201' height='2354' viewBox='0 0 201 2354' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.25' y1='1.09278e-08' x2='0.249897' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3Cline x1='200.25' y1='1.09278e-08' x2='200.25' y2='2354' stroke='%23474747' stroke-width='0.5'/%3E%3C/svg%3E");
        div.container{
            div.bloc{
                span.figure,div.bloc-txt{
                    color:#fff;
                    *{
                        color:#fff;
                    }
                }
            }
        }
        div.bloc-svg{
            svg{
                circle,ellipse{
                    stroke:$color2;
                }
            }
        }
    }

    &.active{
        &.bg-black{
            div.bloc-bg-lines{
                div.line{
                    transform: translateY(-140%);
                    opacity:0.5;
                    &:nth-child(2){
                        transform: rotate(-180deg) translateY(-100%);
                    }
                }
            }
        }
        div.bloc-svg{
            z-index:0;
            svg{
                circle,ellipse{
                    opacity:1;
                    &.rotate,&.reverse{
                        transform: rotate(0deg) scale(1);
                    }
                }
            }
        }
        
    }
    div.bloc-svg{
        position: absolute;
        top:50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%);
        z-index:-1;
        svg{
            circle,ellipse{
                transform-origin: 50% 50%;
                opacity:0;
                transition-delay: 0.5s;
                &.rotate{
                    transform: rotate(-130deg) scale(0.8);
                    transition: 2.5s;
                }
                &.reverse{
                    transform: rotate(130deg) scale(0.8);
                    transition: 4.5s;
                }
            }
        }
    }
    div.container{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 2;
        position: relative;
        z-index:2;
        gap:165px 0px;
        @media(max-width:$size3){
            gap:90px 0px;
        }
        div.bloc{
            max-width:495px;
            width:100%;
            
            span.figure{
                font-size:140px;
                line-height:145px;
                font-weight:500;
                @media(max-width:$size3){
                    font-size:60px;
                    line-height:60px;
                }
            }
            div.bloc-txt{
                padding-top:20px;
                border-top:1px solid $color2;
                font-size:20px;
                @media(max-width:$size3){
                    padding-top:15px;
                }
            }
        }
    }
}