section.success-story{
    position: relative;
    z-index:2;
    overflow: hidden;
    div.container-slider{
        max-width:100%;
    }
    div.container-tabs{
        margin-top:80px;
        div.bloc-tabs{
            display:flex;
            @media(max-width:$size3){
                flex-direction: column;
            }
            div.bloc{
                width:calc(100% / 4 - 20px);
                display:flex;
                align-items: center;
                opacity:0.35;
                transition: 0.5s;
                margin:0px 10px;
                cursor: pointer;
                //opacity:0;
                position: relative;
                @media(max-width:$size3){
                    margin:0px 0px 25px 0px;
                    width:100%;
                    &:last-child{
                        margin-bottom:0px;
                    }
                }
                &:hover{
                    opacity:0.65;
                    div.circles{
                        svg.line-outline{
                            transform:scale(0.65);
                        }
                    }
                }
                &.selected{
                    opacity:1 !important;
                    div.circles{
                        position: relative;
                        svg.line-outline{
                            transform: rotate(180deg) scale(0.35);
                            
                            circle{
                                stroke:$color2;
                                stroke-width: 2px;
                            }
                        }
                        svg.line-dashed{
                            opacity:1;
                            transform: translateY(-50%) translateX(-50%) scale(1);
                        }
                    }
                    p.title{
                        color:$color2
                    }
                }
                div.circles{
                    position: relative;
                    height:25px;
                    width:25px;
                    @media(max-width:$size3){
                        margin-left:30px;
                     }
                     div.item-title{
                         @media(max-width:$size3){
                             margin-left:10px;
                         }
                     }
                    svg.line-outline{
                        transition: 0.5s;
                    }
                    svg.line-dashed{
                        position: absolute;
                        left:50%;
                        top:50%;
                        opacity:0;
                        transition: 0.75s;
                        transform: translateY(-50%) translateX(-50%) scale(0.7);
                        @media(max-width:$size3){
                            width:100px;
                            height:100px;
                        }
                        circle{
                            stroke:$color2;
                        }
                    }
                }
                div.item-title{
                    margin-left:20px;
                    p{
                        font-size:16px;
                        margin:0px;
                        &.subtitle{
                            color:$color1;
                        }
                        &.title{
                            font-weight:500;
                            margin-bottom:6px;
                        }
                    }
                }
                
            }
        }
    }
    div.container{
        div.bloc-title{
            width:100%;
            display: flex;
            justify-content: space-between;
            @media(max-width:$size3){
                width:100%;
            }
        }
    }
    div.contain-slider{
        position: relative;
        width:100%;
        div.container-slider{
            margin-top:35px;
            position: absolute;
            opacity:0;
            transform: translateY(30px);
            transition: 0.75s;
            width:100%;
            pointer-events: none;
            &.selected{
                opacity:1;
                transform: translateY(30px);
                pointer-events: inherit;
            }
            div.arrows{
                display:flex;
                justify-content: flex-end;
                gap:0px 15px;
                max-width:$size1;
                margin:0 auto;
                span.arrow{
                    width:85px;
                    height:85px;
                    display:block;
                    position: relative;
                    text-indent: -9999px;                
                    cursor: pointer;
                    &:before{
                        display:block;
                        content:'';
                        position: absolute;
                        left:50%;
                        top:50%;
                        transform: translateY(-50%) translateX(-50%);
                        background-color: $color2;
                        border-radius: 50%;
                        height: 100%;
                        width:100%;
                        transition: 0.55s;
                    }
                    &:after{
                        display:block;
                        content:'';
                        position: absolute;
                        width:100%;
                        height:100%;
                        top:0px;
                        left:0px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00058 6.28624C0.484367 6.28624 0.0658962 6.70471 0.0658964 7.22092C0.0658967 7.73713 0.484367 8.1556 1.00058 8.1556L1.00058 6.28624ZM15.8967 7.88184C16.2617 7.51682 16.2617 6.92502 15.8967 6.56L9.9484 0.611731C9.58339 0.246716 8.99158 0.246716 8.62656 0.611731C8.26155 0.976747 8.26155 1.56855 8.62656 1.93357L13.9139 7.22092L8.62656 12.5083C8.26155 12.8733 8.26155 13.4651 8.62656 13.8301C8.99158 14.1951 9.58339 14.1951 9.9484 13.8301L15.8967 7.88184ZM1.00058 8.1556H15.2358L15.2358 6.28624H1.00058L1.00058 8.1556Z' fill='white'/%3E%3C/svg%3E");
                    }
                    &:hover{
                        &:before{
                            transform: translateY(-50%) translateX(-50%) scale(0.9);
                        }
                    }
                    &.arrow-left{
                        transform: rotate(-180deg);
                    }
                }
            }
            div.bloc-slider{
                width:100%;
                margin-top:55px;
                div.flickity-viewport{
                    width:100%;
                    height:100%;
                    div.flickity-slider{
                        width:100%;
                        height:100%;
                        div.slide{
                            opacity:0.35;
                            padding-right:60px;
                            @media(max-width:$size3){
                                padding-right:30px;
                            }
                            &.is-selected{
                                opacity: 1;
                            }
                        }
                    }
                }
                div.slide{
                    display:flex;
                    justify-content: space-between;
                    width:100%;
                    max-width:1225px;
                    margin:0 auto;
                    @media(max-width:$size3){
                        flex-direction: column;
                        width:320px;
                    }
                    div.bloc-txt{
                        max-width:495px;
                        h3{
                            font-size:32px;
                        }
                    }
                    div.bloc-img{
                        width:50%;
                        max-width:495px;
                        @media(max-width:$size3){
                            width:100%;
                            max-width:100%;
                            margin-top:30px;
                        }
                        div.bloc-testimonial{
                            @media(max-width:$size3){
                                width:100%;
                                max-width:100%;
                            }
                            a.bloc-img{
                                width:285px;
                                height:200px;
                                display:block;
                                figure{
                                    display:block;
                                    width:100%;
                                    height:100%;
                                    img{
                                        display:block;
                                        object-fit: cover;
                                        width:100%;
                                        height:100%;
                                        object-position: center;
                                    }
                                }
                            }
                            a.link{
                                width:100%;
                                max-width:285px;
                                display:block;
                                border-bottom: 0.5px solid rgba(#2F2F2F,0.35);
                                padding:24px 0px 18px 0px;
                                text-decoration: none;
                                color:$text-color1;
                                font-weight: 500;
                                font-size: 19px;
                                line-height: 120%;
                            }
                            div.testimonial{
                                position: relative;
                                margin-top:70px;
                                &:after{
                                    width:50px;
                                    height:30px;
                                    display:block;
                                    content:'';
                                    position: absolute;
                                    left:-80px;
                                    top:0px;
                                    z-index:-1;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-image: url("data:image/svg+xml,%3Csvg width='49' height='30' viewBox='0 0 49 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0769 30L22.3641 0H12.6897L0 30H15.0769ZM41.8385 30L49 0H39.4513L26.7615 30H41.8385Z' fill='%23F1762C'/%3E%3C/svg%3E");
                                    @media(max-width:$size3){
                                        left:-15px;
                                        top:-35px;
                                    }
                                }
                                div{
                                    font-weight: 500;
                                    > *{
                                        font-size: 32px;
                                        line-height: 120%;
                                        color:#000;
                                        @media(max-width:$size3){
                                            font-size:22px;
                                            line-height:26px;
                                        }
                                    }
                                }
                                p.author{
                                    opacity: 0.35;
                                    font-size:16px;
                                    @media(max-width:$size3){
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    
}