section.success-story{
    div.container{
        display:flex;
        justify-content: space-between;
        @media(max-width:$size3){
            flex-direction: column;
        }
        div.bloc-txt{
            width:50%;
            @media(max-width:$size3){
                width:100%;
            }
            h3{
                margin-top:45px;
                font-size:32px;
            }
            div.hs_cos_wrapper_type_inline_rich_text{
                max-width:495px;
            }
        }
        div.bloc-testimonial{
            width:50%;
            max-width:495px;
            @media(max-width:$size3){
                width:100%;
                max-width:100%;
            }
            a.bloc-img{
                width:285px;
                height:200px;
                display:block;
                figure{
                    display:block;
                    width:100%;
                    height:100%;
                    img{
                        display:block;
                        object-fit: cover;
                        width:100%;
                        height:100%;
                        object-position: center;
                    }
                }
            }
            a.link{
                width:100%;
                max-width:285px;
                display:block;
                border-bottom: 0.5px solid rgba(#2F2F2F,0.35);
                padding:24px 0px 18px 0px;
                text-decoration: none;
                color:$text-color1;
                font-weight: 500;
                font-size: 19px;
                line-height: 120%;
            }
            div.testimonial{
                position: relative;
                margin-top:70px;
                &:after{
                    width:50px;
                    height:30px;
                    display:block;
                    content:'';
                    position: absolute;
                    left:-80px;
                    top:0px;
                    z-index:-1;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("data:image/svg+xml,%3Csvg width='49' height='30' viewBox='0 0 49 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0769 30L22.3641 0H12.6897L0 30H15.0769ZM41.8385 30L49 0H39.4513L26.7615 30H41.8385Z' fill='%23F1762C'/%3E%3C/svg%3E");
                    @media(max-width:$size3){
                        left:-15px;
                    }
                }
                div{
                    font-weight: 500;
                    > *{
                        font-size: 32px;
                        line-height: 120%;
                        color:#000;
                    }
                }
                p.author{
                    opacity: 0.35;
                    font-size:16px;
                    @media(max-width:$size3){
                        text-align: right;
                    }
                }
            }
        }
    }
}