section.tabs-image-hover{
    position: relative;
    overflow:hidden;
    div.container{
        div.bloc-tabs-columns{
            margin-top:100px;
            @media(max-width:$size3){
                margin-top:50px;
            }
            div.bloc-tabs{
                display:flex;
                
                @media(max-width:$size3){
                    flex-direction: column;
                }
                div.bloc{
                    width:calc(100% / 4 - 20px);
                    display:flex;
                    align-items: center;
                    opacity:0.35;
                    transition: 0.5s;
                    margin:0px 10px;
                    margin-bottom:50px;
                    cursor: pointer;
                    opacity:0;
                    position: relative;
                    @media(max-width:$size3){
                        margin:0px 0px 25px 0px;
                        width:100%;
                        &:last-child{
                            margin-bottom:0px;
                        }
                    }
                    &:hover{
                        opacity:0.65;
                        div.circles{
                            svg.line-outline{
                                transform:scale(0.65);
                            }
                        }
                    }
                    &.selected{
                        opacity:1 !important;
                        div.circles{
                            position: relative;
                            svg.line-outline{
                                transform: rotate(180deg) scale(0.35);
                                
                                circle{
                                    stroke:$color2;
                                    stroke-width: 2px;
                                }
                            }
                            svg.line-dashed{
                                opacity:1;
                                transform: translateY(-50%) translateX(-50%) scale(1);
                            }
                        }
                        p.title{
                            color:$color2
                        }
                    }
                    div.circles{
                        position: relative;
                        height:25px;
                        width:25px;
                        @media(max-width:$size3){
                            margin-left:30px;
                         }
                         div.item-title{
                             @media(max-width:$size3){
                                 margin-left:10px;
                             }
                         }
                        svg.line-outline{
                            transition: 0.5s;
                        }
                        svg.line-dashed{
                            position: absolute;
                            left:50%;
                            top:50%;
                            opacity:0;
                            transition: 0.75s;
                            transform: translateY(-50%) translateX(-50%) scale(0.7);
                            @media(max-width:$size3){
                                width:100px;
                                height:100px;
                            }
                            circle{
                                stroke:$color2;
                            }
                        }
                    }
                    div.item-title{
                        margin-left:20px;
                        p{
                            font-size:16px;
                            margin:0px;
                            &.subtitle{
                                color:$color1;
                            }
                            &.title{
                                font-weight:500;
                                margin-bottom:6px;
                            }
                        }
                    }
                    
                }
            }
            div.bloc-columns{
                position: relative;
                width:100%;
                div.blocs{
                    opacity:0;
                    transition: 0.75s;
                    position: absolute;
                    width:100%;
                    pointer-events: none;
                    @media(max-width:$size3){
                        display:flex;
                    }
                    &.selected{
                        opacity:1;
                        z-index:2;
                        pointer-events: inherit;
                    }
                    &:hover{
                        div.bloc-imgs-hover{
                            opacity:1;
                            div.bloc-img{
                                opacity:1;
                            }
                        }
                    }
                    div.bloc-imgs-hover{
                        position: absolute;
                        width:278px;
                        height:278px;
                        display:none;
                        overflow: hidden;
                        border-radius: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        pointer-events: none;
                        z-index:-1;
                        @media(max-width:$size3){
                            display:none;
                        }
                        div.bloc-img{
                            position: absolute;
                            top:0px;
                            left:0px;
                            width:100%;
                            height:100%;
                            transform: scale(1.1);
                            &.show{
                                figure{
                                    height:100%;
                                    img{
                                        opacity:1;
                                        transform: scale(1);
                                    }
                                }
                                
                            }
                            figure{
                                width:100%;
                                height:100%;
                                transition: 0.55s;
                                overflow:hidden;
                                display:block;
                                img{
                                    width:278px;
                                    height:278px;
                                    display:block;
                                    object-fit: cover;
                                    object-position: center;
                                    opacity: 0;
                                    transition: 0.5s;
                                    transform: scale(1.2);
                                    @media(max-width:$size3){
                                        opacity:1;
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                        
                    }
                    div.flickity-viewport{
                        width:100%;
                        height:100%;
                        div.flickity-slider{
                            width:100%;
                            height:100%;
                        }
                    }
                    
                    a.row{
                        display:flex;
                        justify-content: space-between;
                        position: relative;
                        padding:45px 0px;
                        border-bottom: 0.450495px solid rgba(#2F2F2F,0.35);
                        padding-right:65px;
                        color:$color1;
                        text-decoration: none;
                        opacity:0;
                        transform: translateY(30px);
                        @media(max-width:$size3){
                            flex-direction: column;
                            padding-right:0px;
                            margin-right:32px;
                            max-width:250px;
                        }
                        &:after{
                            display:block;
                            content:'';
                            position: absolute;
                            height:2px;
                            width:0px;
                            background-color: $color2;
                            transition: 1.25s;
                            bottom:-2px;
                            left:0px;
                        }
                        &:hover{
                            &:after{
                                width:100%;
                            }
                            h3{
                                color:$color2;
                            }
                            div.bloc-img{
                                
                                figure{
                                    img{
                                        opacity:1;
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                        h3{
                            width:47%;
                            font-weight: 500;
                            font-size: 32px;
                            line-height: 120%;
                            margin:0px;
                            transition: 0.5s;
                            @media(max-width:$size3){
                                width:100%;
                            }
                        }
                        div.bloc-img{
                            position: absolute;
                            width:278px;
                            height:278px;
                            display:block;
                            overflow: hidden;
                            border-radius: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            pointer-events: none;
                            z-index:-1;
                            display: none;
                            @media(max-width:$size3){
                                width:250px;
                                height:250px;
                                position: relative;
                                margin:0 auto;
                                margin-top:30px;
                                margin-bottom: 30px;
                                display: block;
                                transform: translateY(0px) translateX(0px);
                            }
                            figure{
                                width:100%;
                                height:100%;
                                display:block;
                                img{
                                    width:100%;
                                    height:100%;
                                    display:block;
                                    object-fit: cover;
                                    object-position: center;
                                    opacity: 0;
                                    transition: 0.5s;
                                    transform: scale(1.2);
                                    @media(max-width:$size3){
                                        opacity:1;
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                        div.bloc-txt{
                            max-width:390px;
                            @media(max-width:$size3){
                                max-width:100%;
                            }
                            p{
                                margin:0px;
                                mix-blend-mode: multiply;
                            }
                        }
                        div.step{
                            font-size: 14.4158px;
                            line-height: 130%;
                            font-weight:500;
                            @media(max-width:$size3){
                                margin-top:25px;
                            }
                        }
                    }
                }
            }
        }
    }
}