section.tabs-logos{
    position: relative;  
    overflow:hidden;  
    div.container{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        z-index:2;
        padding-bottom:120px;
        @media(max-width:$size3){
            flex-direction: column;
            padding:0px 12px;
        }
        p.title_bg{
            position: absolute;
            color:#F9F9F9;
            bottom:0px;
            font-weight: 700;
            font-size:24em;
            line-height:280px;
            letter-spacing: 0.075em;
            margin:0px;
            text-transform: uppercase;
            text-align: center;
            left:50%;
            transform: translateX(-50%);
            white-space: nowrap;
            z-index:-1;
        }
        div.bloc-txt{
            width:100%;
            max-width:720px;
            h2{
                margin-bottom:0px;
                position: relative;
                z-index:2;
            }
            div.bloc-txt-circle{
                position: relative;
                width:100%;
                height:565px;
                @media(max-width:$size3){
                    height:500px;
                    margin-top:60px;
                }
                svg.circle{
                    left:83px;
                    position: absolute;
                    top:-124px;
                    transform: rotate(-90deg);
                    @media(max-width:$size3){
                        width:500px;
                        height:500px;
                        left:50%;
                        transform: translateX(-50%);
                        top:0px;
                    }
                    circle{
                        stroke-dasharray: 3000;
                        stroke-dashoffset: 3000;
                        transition: 9.5s;
                        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                    }
                }
                div.bloc{
                    padding-top:75px;
                    padding:55px 62px 0px 62px;
                    position: absolute;
                    top:0px;
                    left:84px;
                    opacity: 0;
                    visibility: hidden;
                    max-width:635px;
                    width:100%;
                    text-align: center;
                    transition: 0.5s;
                    height:100%;
                    transform: translateY(30px);
                    @media(max-width:$size3){
                        left:0px;
                        max-width:100%;
                        height:100%;
                        padding:45px 20px 0px 20px;
                    }
                    p{
                        text-align: center;
                        font-size:30px;
                        line-height:38px;
                        font-weight: 500;
                        margin:0px;
                        @media(max-width:$size3){
                            font-size:20px;
                            line-height: 26px;
                        }
                        &.subtitle{
                            color:$color1;
                            font-size:18px;
                            line-height:23px;
                            max-width:200px;
                            margin:0 auto;
                            margin-top:20px;
                            font-weight: 400;
                        }
                    }
                    &.selected{
                        opacity: 1;
                        visibility: visible;
                        z-index:2;
                        transition: 0.75s;
                        transform: translateY(0px);
                    }
                    div.row-btns{
                        position: absolute;
                        left:50%;
                        transform: translateX(-50%);
                        bottom:37px;
                        @media(max-width:$size3){
                            width: 100%;
                            text-align: center;
                            position: absolute;
                            margin-top: inherit;
                            bottom:-20px;
                            left:50%;
                            transform: translateX(-50%);
                        }
                    }
                    
                }
            }
        }
        div.bloc-logos{
            max-width:420px;
            width:100%;
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-grow: 2;
            @media(max-width:$size3){
                max-width:100%;
                margin-top:60px;
            }
            div.bloc-logo{
                max-width:180px;
                width:100%;
                height:85px;
                margin-bottom:20px;
                padding:10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;
                transition: 0.5s;
                opacity:0;
                svg{
                    width:100%;
                    height:100%;
                    position: absolute;
                    left:0px;
                    top:0px;
                    rect{
                        stroke-dasharray: 1250;
                        stroke-dashoffset: 1300;
                        transition: 3s;
                        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                    }
                }
                &.selected{
                    rect{
                        stroke-dashoffset: 0;
                        transition: 3s;
                    }
                }
                figure{
                    width:100%;
                    height:100%;
                    max-width:80px;
                    max-height:65px;
                    img{
                        max-width:100%;
                        max-height:100%;
                        width:auto;
                        height:auto;
                        position: relative;
                        left:50%;
                        top:50%;
                        transform: translateY(-50%) translateX(-50%);
                    }
                }
            }
        }
    }
}