section.technology{
    position: relative;
    overflow:hidden;
    span.bg-txt{
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background-image: url("data:image/svg+xml,%3Csvg width='1440' height='235' viewBox='0 0 1440 235' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-343 43.948H-286.844V224.318H-250.526V43.948H-194.065V10.6818H-343V43.948Z' fill='%23F9F9F9'/%3E%3Cpath d='M-136.412 224.318H-28.678V192.578H-136.412V224.318ZM-136.412 42.4221H-28.678V10.6818H-136.412V42.4221ZM-136.412 125.435H-34.7819V94.3052H-136.412V125.435ZM-158.691 10.6818V224.318H-123.288V10.6818H-158.691Z' fill='%23F9F9F9'/%3E%3Cpath d='M51.3712 117.5C51.3712 102.24 54.7284 89.0151 61.4427 77.8247C68.3604 66.4307 77.3128 57.6818 88.2998 51.5779C99.4903 45.2706 111.596 42.1169 124.618 42.1169C134.791 42.1169 143.947 43.4394 152.086 46.0844C160.224 48.7294 167.549 52.3918 174.06 57.0714C180.774 61.5476 186.573 66.6342 191.456 72.3312V29.6039C182.503 22.2792 172.839 16.684 162.462 12.8182C152.086 8.95238 139.064 7.01948 123.397 7.01948C107.731 7.01948 93.0812 9.6645 79.4492 14.9545C66.0206 20.2446 54.3215 27.8745 44.3518 37.8442C34.3821 47.8138 26.5487 59.6147 20.8518 73.2467C15.3583 86.6753 12.6115 101.426 12.6115 117.5C12.6115 133.574 15.3583 148.426 20.8518 162.058C26.5487 175.487 34.3821 187.186 44.3518 197.156C54.3215 207.126 66.0206 214.755 79.4492 220.045C93.0812 225.335 107.731 227.98 123.397 227.98C139.064 227.98 152.086 226.048 162.462 222.182C172.839 218.316 182.503 212.721 191.456 205.396V162.669C186.573 168.366 180.774 173.554 174.06 178.234C167.549 182.71 160.224 186.271 152.086 188.916C143.947 191.561 134.791 192.883 124.618 192.883C111.596 192.883 99.4903 189.831 88.2998 183.727C77.3128 177.42 68.3604 168.569 61.4427 157.175C54.7284 145.781 51.3712 132.556 51.3712 117.5Z' fill='%23F9F9F9'/%3E%3Cpath d='M259.333 126.351H411.625V93.0844H259.333V126.351ZM388.43 10.6818V224.318H424.443V10.6818H388.43ZM244.989 10.6818V224.318H281.002V10.6818H244.989Z' fill='%23F9F9F9'/%3E%3Cpath d='M637.207 10.6818V154.123L481.252 0V224.318H516.655V80.8766L672.61 235V10.6818H637.207Z' fill='%23F9F9F9'/%3E%3Cpath d='M755.081 117.5C755.081 102.851 758.133 89.829 764.237 78.4351C770.545 66.8377 779.192 57.7835 790.179 51.2727C801.166 44.7619 813.679 41.5065 827.718 41.5065C842.164 41.5065 854.778 44.7619 865.562 51.2727C876.549 57.7835 885.094 66.8377 891.198 78.4351C897.302 89.829 900.354 102.851 900.354 117.5C900.354 132.149 897.2 145.273 890.893 156.87C884.789 168.264 876.244 177.216 865.257 183.727C854.473 190.238 841.96 193.493 827.718 193.493C813.679 193.493 801.166 190.238 790.179 183.727C779.192 177.216 770.545 168.264 764.237 156.87C758.133 145.273 755.081 132.149 755.081 117.5ZM716.932 117.5C716.932 133.37 719.679 148.121 725.172 161.753C730.666 175.385 738.296 187.186 748.062 197.156C758.031 207.126 769.832 214.959 783.464 220.656C797.096 226.149 811.848 228.896 827.718 228.896C843.791 228.896 858.542 226.149 871.971 220.656C885.603 214.959 897.404 207.126 907.374 197.156C917.343 187.186 925.075 175.385 930.568 161.753C936.062 148.121 938.809 133.37 938.809 117.5C938.809 101.426 936.062 86.6753 930.568 73.2467C925.075 59.8182 917.242 48.2208 907.068 38.4545C897.099 28.4848 885.4 20.7532 871.971 15.2597C858.542 9.76623 843.791 7.01948 827.718 7.01948C812.051 7.01948 797.402 9.76623 783.77 15.2597C770.341 20.7532 758.54 28.4848 748.367 38.4545C738.397 48.2208 730.666 59.8182 725.172 73.2467C719.679 86.6753 716.932 101.426 716.932 117.5Z' fill='%23F9F9F9'/%3E%3Cpath d='M982.988 10.6818V224.318H1103.84V191.968H1019V10.6818H982.988Z' fill='%23F9F9F9'/%3E%3Cpath d='M1155.78 117.5C1155.78 102.851 1158.83 89.829 1164.94 78.4351C1171.24 66.8377 1179.89 57.7835 1190.88 51.2727C1201.87 44.7619 1214.38 41.5065 1228.42 41.5065C1242.86 41.5065 1255.48 44.7619 1266.26 51.2727C1277.25 57.7835 1285.79 66.8377 1291.9 78.4351C1298 89.829 1301.05 102.851 1301.05 117.5C1301.05 132.149 1297.9 145.273 1291.59 156.87C1285.49 168.264 1276.94 177.216 1265.96 183.727C1255.17 190.238 1242.66 193.493 1228.42 193.493C1214.38 193.493 1201.87 190.238 1190.88 183.727C1179.89 177.216 1171.24 168.264 1164.94 156.87C1158.83 145.273 1155.78 132.149 1155.78 117.5ZM1117.63 117.5C1117.63 133.37 1120.38 148.121 1125.87 161.753C1131.37 175.385 1138.99 187.186 1148.76 197.156C1158.73 207.126 1170.53 214.959 1184.16 220.656C1197.8 226.149 1212.55 228.896 1228.42 228.896C1244.49 228.896 1259.24 226.149 1272.67 220.656C1286.3 214.959 1298.1 207.126 1308.07 197.156C1318.04 187.186 1325.77 175.385 1331.27 161.753C1336.76 148.121 1339.51 133.37 1339.51 117.5C1339.51 101.426 1336.76 86.6753 1331.27 73.2467C1325.77 59.8182 1317.94 48.2208 1307.77 38.4545C1297.8 28.4848 1286.1 20.7532 1272.67 15.2597C1259.24 9.76623 1244.49 7.01948 1228.42 7.01948C1212.75 7.01948 1198.1 9.76623 1184.47 15.2597C1171.04 20.7532 1159.24 28.4848 1149.07 38.4545C1139.1 48.2208 1131.37 59.8182 1125.87 73.2467C1120.38 86.6753 1117.63 101.426 1117.63 117.5Z' fill='%23F9F9F9'/%3E%3Cpath d='M1485.32 143.136H1550.93C1549.1 150.258 1546.36 156.972 1542.69 163.279C1539.03 169.587 1534.45 175.182 1528.96 180.065C1523.47 184.948 1516.96 188.712 1509.43 191.357C1501.9 194.002 1493.35 195.325 1483.79 195.325C1469.75 195.325 1457.14 192.069 1445.95 185.558C1434.76 179.048 1425.8 169.993 1419.09 158.396C1412.58 146.595 1409.32 132.963 1409.32 117.5C1409.32 101.833 1412.68 88.303 1419.4 76.9091C1426.11 65.3117 1435.06 56.3593 1446.25 50.0519C1457.44 43.5411 1469.96 40.2857 1483.79 40.2857C1498.64 40.2857 1511.26 43.3377 1521.64 49.4416C1532.22 55.5454 1540.46 63.684 1546.36 73.8571L1575.65 54.3247C1569.35 44.355 1561.62 35.9113 1552.46 28.9935C1543.51 21.8723 1533.33 16.4805 1521.94 12.8182C1510.55 8.95238 1497.83 7.01948 1483.79 7.01948C1467.72 7.01948 1452.76 9.6645 1438.93 14.9545C1425.3 20.2446 1413.39 27.8745 1403.22 37.8442C1393.25 47.6104 1385.42 59.3095 1379.72 72.9416C1374.23 86.3701 1371.48 101.223 1371.48 117.5C1371.48 133.777 1374.23 148.732 1379.72 162.364C1385.21 175.996 1392.94 187.797 1402.91 197.766C1413.09 207.736 1424.99 215.468 1438.62 220.961C1452.25 226.251 1467.11 228.896 1483.18 228.896C1500.07 228.896 1515.12 225.844 1528.35 219.74C1541.78 213.433 1552.97 204.887 1561.92 194.104C1570.87 183.32 1577.59 171.011 1582.06 157.175C1586.54 143.136 1588.57 128.284 1588.17 112.617H1485.32V143.136Z' fill='%23F9F9F9'/%3E%3Cpath d='M1742.52 10.6818L1692.77 102.24L1643.02 10.6818H1602.13L1674.46 134.591V224.318H1711.08V134.286L1783.72 10.6818H1742.52Z' fill='%23F9F9F9'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% auto;
    }
    div.container{
        div.bloc-title{
            h2{
                max-width:430px;
                margin-bottom:45px;
            }
        }
        div.blocs-mobile{
            display: none;
            margin-top:60px;
            @media(max-width:$size3){
                display:block;
            }
            div.flickity-viewport{
                width:100%;
                height:100%;
                div.flickity-slider{
                    width:100%;
                    height:100%;
                }
            }
            div.bloc{
                height:214px;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width:calc(214px);
                margin-bottom:45px;
                text-decoration: none;
                position: relative;
                &.bloc-circle{
                    width:calc(214px);
                    height:214px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    transform: translateX(-40px);
                    cursor: pointer;
                    @media(max-width:$size3){
                        display:flex;
                        margin-right:30px;
                    }
                    &:nth-child(5n+2){
                        margin-left:45px;
                        margin-right:45px;
                        @media(max-width:$size3){
                            margin-left:0px;
                            margin-right:30px;
                        }
                    }
                    &:nth-child(5n+3){
                        margin-right:45px;
                        @media(max-width:$size3){
                            margin-right:30px;
                        }
                    }
                    &:nth-child(5n+4){
                        margin-right:45px;
                        @media(max-width:$size3){
                            margin-right:30px;
                        }
                    }
                    &:hover,&.is-selected{
                        svg{
                            &.line-outline{
                                circle{
                                    stroke-dashoffset: 0;
                                    transition: 1.5s;
                                }
                            }
                            &.line-dashed{
                                top:calc(50% + 10px);
                                transform: translateX(-50%) scale(1.1) translateY(-50%) rotate(-90deg);
                                circle{
                                    stroke-dasharray: 3;
                                    stroke-dashoffset: 15;
                                    stroke: $color2;
                                    fill:transparent;
                                }
                            }
                        }
                    }
                    svg{
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translateX(-50%) translateY(-50%);
                        &.line-outline{
                            transform-origin: 50%;
                            fill:#fff;
                            circle{
                                stroke-dasharray: 1000;
                                stroke-dashoffset: 1100;
                                transition: 0.5s;
                                stroke:$color2;
                                transform: rotate(-90deg);
                                transform-origin: 50% 50%;
                                transition-timing-function: ease-in-out;
                            }
                        }
                        &.line-dashed{
                            transition: 0.75s;
                            transform-origin: 50% 50%;
                            circle{
                                transition: 0.75s;
                                transition-timing-function: ease-in-out;
                            }
                        }
                    }
                    figure{
                        margin:0px;
                        display:flex;
                        justify-content: center;
                        position: relative;
                        z-index:2;
                    }
                    p{
                        font-size:19px;
                        line-height:22px;
                        font-weight: bold;
                        position: relative;
                        z-index:2;
                        margin-bottom:0px;
                        color:$color1;
                    }
                }
                div.bloc-txt{
                    visibility: hidden;
                    opacity:0;
                    transition: 0.5s;
                    transform: translateY(35px);
                    position: absolute;
                    left:0px;
                    &.selected{
                        display:block;
                        opacity:1;
                        visibility: visible;
                        transform: translateY(0px);
                    }
                }
            }
        }
        div.blocs-txt-mobile{
            position: relative;
            display:none;
            @media(max-width:$size3){
                display:block;
            }
            div.bloc-txt{
                position: absolute;
                top:0px;
                left:0px;
                opacity:0;
                transform: translateY(30px);
                transition: 0.5s;
                &.is-selected{
                    opacity:1;
                    transform: translateY(0px);
                }
            }
        }
        div.blocs{
            margin-top:30px;
            @media(max-width:$size3){
                display:none;
            }
            div.row{
                display: flex;
                align-items: center;
                flex-wrap:wrap;
                flex-grow: 5;
                div.bloc{
                    height:214px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width:calc(100% / 5 - 36px);
                    margin-bottom:45px;
                    text-decoration: none;
                    opacity:0;
                    position: relative;
                    @media(max-width:$size3){
                        display:none;
                    }
                    &.bloc-circle{
                        width:calc(100% / 5 - 36px);
                        height:214px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        transform: translateX(-40px);
                        cursor: pointer;
                        @media(max-width:$size3){
                            display:flex;
                        }
                        &:nth-child(5n+2){
                            margin-left:45px;
                            margin-right:45px;
                        }
                        &:nth-child(5n+3){
                            margin-right:45px;
                        }
                        &:nth-child(5n+4){
                            margin-right:45px;
                        }
                        &:hover,&.selected{
                            svg{
                                &.line-outline{
                                    circle{
                                        stroke-dashoffset: 0;
                                        transition: 1.5s;
                                    }
                                }
                                &.line-dashed{
                                    top:calc(50% + 10px);
                                    transform: translateX(-50%) scale(1.1) translateY(-50%) rotate(-90deg);
                                    circle{
                                        stroke-dasharray: 3;
                                        stroke-dashoffset: 15;
                                        stroke: $color2;
                                        fill:transparent;
                                    }
                                }
                            }
                            p{
                                color:$color2;
                            }
                        }
                        svg{
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform: translateX(-50%) translateY(-50%);
                            &.line-outline{
                                transform-origin: 50%;
                                fill:#fff;
                                circle{
                                    stroke-dasharray: 1000;
                                    stroke-dashoffset: 1100;
                                    transition: 0.5s;
                                    stroke:$color2;
                                    transform: rotate(-90deg);
                                    transform-origin: 50% 50%;
                                    transition-timing-function: ease-in-out;
                                }
                            }
                            &.line-dashed{
                                transition: 0.75s;
                                transform-origin: 50% 50%;
                                circle{
                                    transition: 0.75s;
                                    transition-timing-function: ease-in-out;
                                }
                            }
                        }
                        figure{
                            margin:0px;
                            display:flex;
                            justify-content: center;
                            position: relative;
                            z-index:2;
                        }
                        p{
                            font-size:19px;
                            line-height:22px;
                            font-weight: 500;
                            position: relative;
                            z-index:2;
                            margin-bottom:0px;
                            color:$color1;
                            text-align: center;
                            transition: 0.55s;
                        }
                    }
                    div.bloc-txt{
                        visibility: hidden;
                        opacity:0;
                        transition: 0.5s;
                        transform: translateY(35px);
                        position: absolute;
                        left:0px;
                        &.selected{
                            display:block;
                            opacity:1;
                            visibility: visible;
                            transform: translateY(0px);
                        }
                    }
                }
            }
            
            
        }
    }
}