section.testimonials{
    overflow:hidden;
    div.container{
        div.bloc-testimonials{
            display:flex;
            justify-content: flex-end;
            margin-top:260px;
            position: relative;
            padding-right:105px;
            @media(max-width:$size3){
                margin-top: 60px;
                padding-right:0px;
                padding-top:235px;
            }
            div.bloc-circles{
                width:445px;
                height: 445px;
                display:block;
                position: absolute;
                left:100px;
                top:18%;
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg width='122' height='79' viewBox='0 0 122 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.6479 79L53.2676 0H34.3662L0 79H32.6479ZM101.38 79L122 0H103.099L68.7324 79H101.38Z' fill='%23F1762C'/%3E%3C/svg%3E");
                @media(max-width:$size3){
                    width:340px;
                    height:340px;
                    left:50%;
                    transform: translateX(-50%);
                    top:0px;
                    background-size: 92px;
                }
                &.active{
                    svg{
                        @media(max-width:$size3){
                            width:100%;
                            height:100%;
                        }
                        &:nth-child(2){
                            width:calc(100% - 23px);
                            height:calc(100% - 23px);
                        }
                        circle{
                            &.line-dashed{
                                transform: rotate(-180deg);
                                opacity:1;
                            }
                            &.line-outline{
                                stroke-dashoffset: 0;
                                opacity:1;
                            }
                        }
                    }
                }
                svg{
                    position: absolute;
                    left:50%;
                    top:50%;
                    transform: translateX(-50%) translateY(-50%);
                    circle{
                        &.line-dashed{
                            width:100%;
                            height:100%;
                            transition: 1.55s;
                            opacity:0;
                            transform-origin: 50%;
                        }
                        &.line-outline{
                            stroke-dasharray: 1250;
                            stroke-dashoffset: 1000;
                            transition: 1.55s;
                            opacity:0;
                            transform-origin: 50%;
                            transform: rotate(-90deg);
                        }
                    }
                    
                }
            }
            div.bloc-slider{
                max-width:705px;
                width:100%;
                div.flickity-viewport{
                    width:100%;
                    z-index:0;
                    height:100%;
                    div.flickity-slider{
                        width:100%;
                        height:100%;
                    }
                }
                div.bloc{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-start;
                    @media(max-width:$size3){
                        justify-content: flex-start;
                    }
                    &.is-selected{
                        span.line{
                            span{
                                width:100%;
                            }
                        }
                    }
                    div.txt{
                        padding-bottom:30px;
                        position: relative;
                        display: inline-block;
                        span.quote{
                            color:$color2;
                            font-style: italic;
                            font-weight: 400;
                            font-size: 40px;
                            line-height: 110%;
                            display: inline-block;
                            &.quote-start{
                                position: absolute;
                                left:-11px;
                                top:0px;
                                @media(max-width:$size3){
                                    left:-23px;
                                }
                            }
                            
                        }
                        p{
                            max-width:92%;
                            font-weight: 400;
                            font-size: 40px;
                            line-height: 44px;
                            letter-spacing: 0.01em;
                            display: inline-block;
                        }
                    }
                    span.line{
                        width:100%;
                        max-width:550px;
                        opacity: 1;
                        height:0.5px;
                        display:flex;
                        align-items: center;
                        background-color: rgba(#2F2F2F,0.3);
                        margin-bottom:30px;
                        span{
                            display:block;
                            width:0px;
                            height:2px;
                            transition: 10.5s;
                            background-color: $color2;
                        }
                    }
                    p{
                        margin:0px;
                        text-align: right;
                        &.name{
                            font-size: 19px;
                            line-height: 23px;
                            font-weight:bold;
                        }
                        @media(max-width:$size3){
                            text-align: left;
                        }
                    }
                }                
            }
        }
    }
}