<section id="{{module.module_identity}}" class="benefits {% if module.content_style.background_black %}bg-black{% endif %} {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
        <div class="blocs">
            {% for item in module.items %}
                <div class="bloc">
                    <img src="{{ item.pictogram.src }}">
                    <p class="title">{{ item.title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>