<div id="{{module.module_identity}}" class="blog-post-testimonial {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-testimonials">
            <div class="bloc-circles">
                <svg width="446" height="446" viewBox="0 0 446 446" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="223" class="line-dashed" cy="223" r="222" stroke="#F1762C" stroke-linecap="round" stroke-dasharray="2 6"/>
                </svg>
                <svg width="388" height="388" viewBox="0 0 388 388" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="194" cy="194" class="line-outline" r="193" stroke="#F1762C" stroke-opacity="0.75" stroke-linecap="round"/>
                </svg>    
            </div>
            <div class="bloc">
                <div class="txt">
                    <span class="quote quote-start">“</span>{{ module.testimonial }}<span class="quote quote-end">”</span>
                </div>
                {% if module.nom %}
                    <p class="name">{{ module.nom }}</p>
                {% endif %}
                {% if module.job %}
                    <p class="job">{{ module.job }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>