<div class="hero-v6 contain-anim">

    <section id="{{module.module_identity}}" class="hero-v6 {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
        <div class="bloc-bg-lines">
            <div class="line line-1"></div>
            <div class="line line-2"></div> 
            <div class="line line-3"></div> 
        </div>
        {% if module.title_bg %}
            <p class="title_bg">{{ module.title_bg }}</p>
        {% endif %}
        <div class="contain-hero">
            <div class="container">
                {% if module.title %}
                    <h1>{{ module.title }}</h1>
                {% endif %}
                {% if module.text %}
                    <div class="bloc-txt">
                        <div class="txt">
                            {{ module.text }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="container container-items">
                <div class="bloc-items">
                    {% for item in module.items %}
                        <div class="container-bloc-item {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">
                            <div class="bloc-item" data-id="{{ loop.index }}">
                                <img loading="lazy"  src="{{ item.pictogram.src }}" width="{{ item.pictogram.width }}" height="{{ item.pictogram.height }}" alt="{{ item.pictogram.alt }}" />
                                <p>{{ item.title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="bloc-imgs">
                    {% for item in module.items %}
                        <div class="bloc-img {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">
                            <figure>
                                <img loading="lazy" src="{{ item.image.src }}" width="{{ item.image.width }}" height="{{ item.image.height }}" data-speed="auto" alt="{{ item.image.alt }}" />
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        
    </section>
    <section class="contain-technology">
        <div class="contain-technology">
            {% if module.subtitle %}
                <div class="container">
                    <div class="bloc-title">
                        <h2>{{ module.subtitle }}</h2>
                    </div>
                </div>
            {% endif %}
            <div class="container">
                <aside>
                    <div class="bloc-items">
                        <div class="col">
                            {% for item in module.items %}
                                {% if loop.index is even %}
                                    <div class="container-bloc-item" data-id="{{ loop.index }}">
                                        <div class="bloc-item {% if loop.index == 1 %}selected{% endif %}">
                                            <img loading="lazy"  src="{{ item.pictogram.src }}" width="{{ item.pictogram.width }}" height="{{ item.pictogram.height }}" alt="{{ item.pictogram.alt }}" />
                                            <p>{{ item.title }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col">
                            {% for item in module.items %}
                                {% if loop.index is odd %}
                                    <div class="container-bloc-item {% if loop.index == 1 %}selected{% endif %}"  data-id="{{ loop.index }}">
                                        <div class="bloc-item {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">
                                            <img loading="lazy"  src="{{ item.pictogram.src }}" width="{{ item.pictogram.width }}" height="{{ item.pictogram.height }}" alt="{{ item.pictogram.alt }}" />
                                            <p>{{ item.title }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </aside>
                <div class="contain-infos">
                    {% for item in module.items %}
                        <div class="contain {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">
                            <div class="bloc-contain">
                                {% for field in item.contents.repeater %}
                                    {% if field.content_type == 'text' %}
                                        <div class="bloc bloc-txt">
                                            {{ field.text }}
                                        </div>
                                    {% endif %}
                                    {% if field.content_type == 'image' %}
                                        <div class="bloc bloc-img">
                                            <figure>
                                                <img loading="lazy" src="{{ field.image.src }}" width="{{ field.image.width }}" height="{{ field.image.height }}" alt="{{ field.image.alt }}" />
                                            </figure>
                                        </div>
                                    {% endif %}
                                    {% if field.content_type == 'text_image' %}
                                        <div class="bloc bloc-txt-img {{ field.img_position }}">
                                            <div class="bloc-img">
                                                <figure>
                                                    <img loading="lazy" src="{{ field.text_image_image.src }}" width="{{ field.text_image_image.width }}" height="{{ field.text_image_image.height }}" alt="{{ field.text_image_image.alt }}" />
                                                </figure>
                                                {% if field.file %}
                                                    <a href="{{ field.file }}" target="_blank" class="link">link</a>
                                                {% endif %}
                                            </div>
                                            <div class="bloc-txt">
                                                {{ field.text_image_text }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </section>
    <a href="{{ module.button_url_team.url.href }}" {% if module.button_url_team.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}  class="container-btn-join">
        <div class="btn-join">
            <span>{{ module.button_txt_team }}</span>
            <svg width="109" height="109" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="54.5" cy="54.5" r="53.5" stroke="#F1762C" stroke-linecap="round" stroke-dasharray="0.5 10"/>
            </svg>
            <svg width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50.5" cy="50.5" r="50" stroke="#F1762C" stroke-linecap="round"/>
            </svg>
        </div>
    </a>
</div>