@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400&display=swap');

// COLORS
$text-color1: #2F2F2F;
$color1: #2F2F2F;
$color2: #F1762C;


//FONTS
$font1: 'Jost', sans-serif;

//SIZES BREAKPOINT
$size1: 1225px;
$size2: 1080px;
$size3: 768px;
$size4: 640px;
$size5: 480px;
