<section id="{{module.module_identity}}" class="txt-double-columns {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
    </div>
    <div class="container">
        <div class="bloc">
            {% inline_rich_text field="rich_text" value="{{ module.text_column_1 }}" %}
        </div>
        <div class="bloc">
            {% inline_rich_text field="rich_text" value="{{ module.text_column_2 }}" %}
        </div>
    </div>
</section>