<section id="{{module.module_identity}}" class="video {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
        <div class="bloc-video {% if module.autoplay !=" true" %}btn-play{% endif %}">
            <video muted {% if module.autoplay %}preload="none"{% endif %} {% if module.autoplay !=" true" %}class="btn-play"{% endif %} loop playsinline>            
                <source src="{{ module.video }}" type="video/mp4">            
            </video>
        </div>
    </div>
</section>