<section id="{{module.module_identity}}" class="listing-other-posts {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <h2>{{ module.title }}</h2>
    </div>
    <div class="container">
        <div class="bloc-posts">
            {% set pop_posts = blog_popular_posts("default", 3, "popular_past_month") %}
            {% for pop_post in pop_posts %}
                <a href="{{ pop_post.url }}" class="bloc">
                    <div class="bloc-img link-hover">
                        <figure class="position-relative h-100 mr-n1 mb-0 overflow-hidden">
                            <img src="{{ pop_post.featured_image }}" loading="lazy" alt="{{ pop_post.featured_image_alt }}">
                        </figure>
                    </div>
                    <div class="bloc-txt">
                        <div class="infos">
                            <div class="tags">
                                {% if pop_post.topic_list %}
                                    {% for tags in pop_post.topic_list %}
                                        {% if tags.name|lower != "featured" %}
                                        <span>{{tags|replace('-', ' ') }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                            </div>
                            {% if pop_post.publish_date %}
                                <span>- {{ pop_post.publish_date|datetimeformat('%d / %B / %Y') }}</span>
                            {% endif %}
                        </div>
                        {% if pop_post.name %}
                            <p class="title"><span>{{ pop_post.name }}</span></p>
                        {% endif %}                      
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="bloc-newsletter">
            {% form
                form_to_use="{{ module.form.form_id }}"
                response_response_type="{{ module.form.response_type }}"
                response_message="{{ module.form.message }}"
                response_redirect_id="{{ module.form.redirect_id }}"
                response_redirect_url="{{ module.form.redirect_url}}"
                gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}"
            %}
        </div>
    </div>
</section>

