<section id="{{module.module_identity}}" class="solutions {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-left">
            {% if module.title %}
                <h2>{{ module.title }}</h2>
            {% endif %}
            <div class="bloc-tabs">
                {% for item in module.items %}
                    {% if item.title %}
                        <div class="bloc bloc-liquid {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">
                            <div class="circles">
                                <svg width="25" class="line-outline" height="25" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="11" stroke="#2F2F2F" stroke-linecap="round" stroke-dasharray="1 0"/>
                                </svg>
                                
                                <svg width="137" class="line-dashed" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <filter id="filter-1" x="-50%" y="-50%" width="200%" height="200%" 
                                        filterUnits="objectBoundingBox">
                                            <feTurbulence type="fractalNoise" baseFrequency="0.02 0.15" numOctaves="3" result="warp" />
                                            <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="0" in="SourceGraphic" in2="warp" />
                                        </filter>
                                    </defs>
                                    <circle cx="66" cy="66" r="61" stroke="#2F2F2F" class="cursor__inner" fill="transparent" stroke="#f1762c" style="filter:url('#filter-1')" stroke-width="1.5px" stroke-linecap="round" stroke-dasharray="1 5"/>
                                </svg> 
                            </div>
                            <div class="item-title">
                                <p class="title">{{ item.title }}</p>
                                <p class="subtitle">{{ item.subtitle }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="bloc-right">
            {% for item in module.items %}
                <div class="blocs {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">                    
                    {% if item.categories %}
                        {% set val = item.categories %}
                        {% if val == "public-safety" %}
                            {% set category = "1" %}
                        {% elif val == "geolocalisation" %}
                            {% set category = "2" %}
                        {% elif val == "data-monetisation" %}
                            {% set category = "3" %}
                        {% elif val == "app-builder" %}
                            {% set category = "4" %}
                        {% endif %}  
                    {% else %}    
                        {% if content.widgets.categories.body.categories %}
                            {% set val = content.widgets.categories.body.categories %}
                            {% if val == "public-safety" %}
                                {% set category = "1" %}
                            {% endif %}
                            {% if val == "geolocalisation" %}
                                {% set category = "2" %}
                            {% endif %}
                            {% if val == "data-monetisation" %}
                                {% set category = "3" %}
                            {% endif %}
                            {% if val == "app-builder" %}
                                {% set category = "4" %}
                            {% endif %}   
                        {% endif %}                 
                    {% endif %}
                    {% if item.typologie %}
                        {% set val = item.typologie %}
                        {% if val == "public-safety" %}
                            {% set category = "1" %}
                        {% elif val == "geolocalisation" %}
                            {% set category = "2" %}
                        {% elif val == "data-monetisation" %}
                            {% set category = "3" %}
                        {% elif val == "app-builder" %}
                            {% set category = "4" %}
                        {% endif %} 
                    {% endif %}                  
                    {% set query_params = "&limit=1&categories__eq="+category %}
                    {% set results_global = hubdb_table_rows("Content", query_params) %}
                    {% for bloc in results_global %}
                        <div class="bloc" data-t="{{ i }}">
                            <div class="bloc-txt">
                                {{ bloc.description }}
                            </div>
                            <div class="bloc-img">
                                <figure>
                                    <img loading="lazy" src="{{ bloc.image.url }}" alt="{{ bloc.name }}" />
                                </figure>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>