<section id="{{module.module_identity}}" class="key-figures {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% for item in module.figures %}
            <div class="bloc" data-t="{{ i }}">
                {% if item.figure %}
                    <span class="figure">{{ item.figure }}</span>
                {% endif %}
                {% if item.text %}
                    <div class="bloc-txt">
                        {{ item.text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="bloc-svg">
        <svg width="862" height="862" data-speed="0.92" viewBox="0 0 862 862" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="reverse" opacity="0.7" cx="431" cy="431" r="155.329" stroke="#F1762C" stroke-width="2" stroke-linecap="round" stroke-dasharray="0.1 10"/>
            <g filter="url(#filter0_f_621_1155)">
            <circle class="rotate" cx="431" cy="431" r="61.3293" stroke="#F1762C" stroke-width="2" stroke-linecap="round" stroke-dasharray="0.1 10"/>
            </g>
            <g filter="url(#filter1_f_621_1155)">
            <circle class="reverse" cx="431" cy="431" r="326.707" stroke="#F1762C" stroke-width="2" stroke-linecap="round" stroke-dasharray="0.1 10"/>
            </g>
            <g filter="url(#filter2_f_621_1155)">
            <circle class="rotate" cx="431" cy="431" r="423" stroke="#F1762C" stroke-width="2" stroke-linecap="round" stroke-dasharray="0.1 10"/>
            </g>
            <ellipse class="reverse" opacity="0.5" cx="431" cy="431" rx="241.878" ry="241.878" stroke="#F1762C" stroke-linecap="round"/>
            <g opacity="0.7" filter="url(#filter3_f_621_1155)">
            <ellipse class="rotate" rx="24.6463" ry="24.6463" transform="matrix(1 0 0 -1 431 431)" stroke="#F1762C" stroke-linecap="round"/>
            </g>
            <defs>
            <filter id="filter0_f_621_1155" x="364.671" y="364.671" width="132.659" height="132.659" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_621_1155"/>
            </filter>
            <filter id="filter1_f_621_1155" x="99.293" y="99.2927" width="663.415" height="663.415" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_621_1155"/>
            </filter>
            <filter id="filter2_f_621_1155" x="0" y="0" width="862" height="862" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="3.5" result="effect1_foregroundBlur_621_1155"/>
            </filter>
            <filter id="filter3_f_621_1155" x="401.854" y="401.854" width="58.2925" height="58.2927" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_621_1155"/>
            </filter>
            </defs>
        </svg>
    </div>
</section>