section.unsubscribe {
    padding: 250px 0px;
    position: relative;
    text-align: center;
    background-color: $color1;
    div.container {
        position: relative;
        z-index: 2;
        color:#fff;
        h1 {
            color: #fff;
        }

        a.btn {
            margin-top: 30px;
        }

        form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 800px;
            max-width: 100%;

            div.item,
            div.subscribe-options {
                margin-top: 20px;
            }

            input[type="email"] {
                width: 100% !important;
                color: rgba($color1, 1);
                background: transparent;
                border:none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 0;
                padding: 6px 0px;
                outline: none;
                -webkit-transition: 0.3s border, 0.3s box-shadow;
                -moz-transition: 0.3s border, 0.3s box-shadow;
                transition: 0.3s border, 0.3s box-shadow;
                margin: 0px;
                box-sizing: border-box;
                color:#fff;
                font-family: $font1;
                &::placeholder{
                    color:$text-color1;
                    opacity: 1;
                }
            }
            input[type="submit"] {
                display: inline-block;
                position: relative;
                width: auto;
                background-color: $color1;
                font-size: 16px;
                line-height:18px;
                font-weight: 500;
                border-radius: 5px;
                color: $color2;
                padding: 15px 58px 15px 28px;
                border: none;
                cursor: pointer;
                transition: 0.5s;
                border: 1px dashed $color2;
                border-radius: 24.5px;
                appearance:none;
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.46967 7.46967C0.176777 7.76256 0.176777 8.23744 0.46967 8.53033C0.762563 8.82322 1.23744 8.82322 1.53033 8.53033L0.46967 7.46967ZM8.75 1C8.75 0.585786 8.41421 0.25 8 0.25H1.25C0.835786 0.25 0.5 0.585786 0.5 1C0.5 1.41421 0.835786 1.75 1.25 1.75H7.25V7.75C7.25 8.16421 7.58579 8.5 8 8.5C8.41421 8.5 8.75 8.16421 8.75 7.75V1ZM1.53033 8.53033L8.53033 1.53033L7.46967 0.46967L0.46967 7.46967L1.53033 8.53033Z' fill='%23F27026'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: calc(100% - 17px) 50%;
                margin-top:20px;
            }
        }
    }
}