<section id="{{module.module_identity}}" class="personae {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="bloc-bg-lines">
        <div class="line line-1"></div>
        <div class="line line-2"></div> 
        <div class="line line-3"></div> 
    </div>
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
    </div>
    <div class="container container-txt-img">
        {% if module.image.src %}
            <div class="bloc-img" data-speed="0.95">
                <figure>
                    <img loading="lazy" src="{{ module.image.src }}" alt="{{ module.image.alt }}" />
                </figure>
                <div class="bloc-line">
                    <svg width="448" height="448" viewBox="0 0 448 448" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="224" cy="224" r="223" stroke="#F1762C" stroke-linecap="round" stroke-dasharray="1 0"/>
                    </svg>
                </div>
                <svg width="448" class="dashed-circle" height="448" viewBox="0 0 448 448" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="224" cy="224" r="223" stroke="#F1762C" stroke-linecap="round" stroke-dasharray="1 10"/>
                </svg>
            </div>                
        {% endif %}
        {% if module.texts %}
            <div class="bloc-txt">
                <div class="contain-txt">
                    {% for item in module.texts %}
                        <div class="bloc">
                            <h3>{{ item.title }}</h3>
                            <div class="txt">
                                <div>
                                    {{ item.text }}
                                </div>
                            </div>
                            {% if item.cta_field %}
                                <div class="row-btns">
                                    {% cta "cta" label='Select a CTA', guid='{{ item.cta_field }}' %}
                                </div>
                            {% else if item.button_text %}
                                <div class="row-btns">
                                    <a href="{{ item.button_url.url.href }}" {% if item.button_url.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg">
                                            <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                            <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                        </svg>
                                        {{ item.button_text }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>