<section id="{{module.module_identity}}" class="tabs-toggle {% if module.content_style.background_black %}bg-black{% endif %} {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
    </div>
    <div class="container">
        <div class="bloc-txt">
            
            <div class="items">
                {% for item in module.items %}
                    <div class="item {% if loop.index == 1 %}open{% endif %}" data-id="{{ loop.index }}">
                        {% if item.title %}
                            <div class="item-title">
                                <p>{{ item.title }}</p><span class="btn-more">more</span>
                            </div>
                        {% endif %}
                        {% if item.text %}
                            <div class="item-txt" {% if loop.index == 1 %}style="height:auto"{% endif %}>
                                <div class="contain-txt">
                                    {{ item.text }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if module.button_text|length > 0 %}
                <div class="row-btns">
                    <a href="{{ module.button_url.url.href }}" {% if module.button_url.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                            <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                        </svg>
                        {{ module.button_text }}
                    </a>
                </div>
            {% else if module.cta_field %}
                <div class="row-btns">
                    {% cta "cta" label='Select a CTA', guid='{{ module.cta_field }}' %}
                </div>
            {% endif %}
        </div>        
        {% if module.items %}
            <div class="bloc-imgs">
                {% for item in module.items %}
                <a href="{{ item.link.href }}" class="bloc-img {% if loop.index == 1 %}selected{% endif %} link-hover" data-id="{{ loop.index }}">
                    <figure>
                        <img loading="lazy" src="{{ item.image.src }}" alt="{{ item.image.alt }}" />
                    </figure>
                </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>