<section id="{{module.module_identity}}" class="steps {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
        {% if module.image.src %}
            <div class="bloc-img">
                <figure>
                    <img loading="lazy" src="{{ module.image.src }}" alt="{{ module.image.alt }}" />
                </figure>
            </div>
        {% endif %}
    </div>
    <div class="steps grab-hover">
        {% for item in module.steps %}
            <div class="bloc-step">
                <p class="title">
                    {% if item.pictogram.src %}
                        <span class="picto" style="background-image:url({{ item.pictogram.src }})"></span>
                    {% endif %}
                    {{ item.title }}
                </p>
                {{ item.text }}
            </div>
        {% endfor %}
    </div>
</section>