<section id="{{module.module_identity}}" class="steps {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
        <div class="bloc-img">
            {% for item in module.steps %}
                {% if item.image.src %}
                    <figure {% if loop.index == 1 %}class="selected"{% endif %} data-id="{{ loop.index }}">
                        <img loading="lazy" src="{{ item.image.src }}" width="{{ item.image.width }}" height="{{ item.image.height }}" alt="{{ item.image.alt }}" />
                    </figure>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="steps">
        {% for item in module.steps %}
            <div class="bloc-step" data-id="{{ loop.index }}">
                <p class="title">
                    {% if item.pictogram.src %}
                        <span class="picto" style="background-image:url('{{ item.pictogram.src }}')"></span>
                    {% endif %}
                    {{ item.title }}
                </p>
                {{ item.text }}
            </div>
        {% endfor %}
    </div>
</section>