<section id="{{module.module_identity}}" class="tabs-logos {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-txt">
            {% if module.title %}
                <h2>{{ module.title }}</h2>
            {% endif %}
            <div class="bloc-txt-circle">
                <svg width="635" height="635" viewBox="0 0 635 635" class="circle" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="317.5" cy="317.5" r="317" stroke="#F1762C"/>
                </svg> 
                {% if module.categories %}
                    {% set val = module.categories %}
                    {% if val == "public-safety" %}
                        {% set query_params = "&limit=7&categories__eq=1" %}
                    {% endif %} 
                    {% if val == "geolocalisation" %}
                        {% set query_params = "&limit=7&categories__eq=2" %}
                    {% endif %} 
                    {% if val == "data-monetisation" %}
                        {% set query_params = "&limit=7&categories__eq=3" %}
                    {% endif %} 
                    {% if val == "app-builder" %}
                        {% set query_params = "&limit=7&categories__eq=4" %}
                    {% endif %}  
                {% else %}    
                    {% if content.widgets.categories.body.categories %}
                        {% set val = content.widgets.categories.body.categories %}
                        {% if val == "public-safety" %}
                            {% set query_params = "&limit=7&categories__eq=1" %}
                        {% endif %}
                        {% if val == "geolocalisation" %}
                            {% set query_params = "&limit=7&categories__eq=2" %}
                        {% endif %}
                        {% if val == "data-monetisation" %}
                            {% set query_params = "&limit=7&categories__eq=3" %}
                        {% endif %}
                        {% if val == "app-builder" %}
                            {% set query_params = "&limit=7&categories__eq=4" %}
                        {% endif %}   
                    {% endif %}                 
                {% endif %}
                {% set results_global = hubdb_table_rows("Content", query_params) %}
                {% for item in results_global %}
                    <div class="bloc {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">
                        {{ item.testimonial }}
                        {% if item.first_name_testimonial or item.name_testimonial %}
                            <p class="subtitle">{{ item.first_name_testimonial }} {{ item.name_testimonial }}</p>
                        {% endif %}
                        {% if item.job_testimonial %}
                            <p class="subtitle"><strong>{{ item.job_testimonial }}</strong></p>
                        {% endif %}
                        <div class="row-btns">
                            {% if item.link %}
                                <a href="{{ item.link }}" class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                        <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                    </svg>
                                    {{ item.button }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="bloc-logos">
            {% for item in results_global %}
                <div class="bloc-logo {% if loop.index == 1 %}selected{% endif %}" data-id="{{ loop.index }}">
                    <svg width="180" height="84" viewBox="0 0 180 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="179" height="83" rx="41.5" stroke="#F1762C"/>
                    </svg>
                    <figure>
                        <img loading="lazy" src="{{ item.logo.url }}" width="{{ item.logo.width }}" height="{{ item.logo.height }}" alt="{{ item.title }}" />
                    </figure>
                </div>
            {% endfor %}
        </div>
        {% if module.title_bg %}
            <p class="title_bg" data-speed="1.1">{{ module.title_bg }}</p>
        {% endif %}
    </div>
    
</section>