<section id="{{module.module_identity}}" class="split-images {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <p class="title_bg" data-speed="1.1">{{ module.title_bg }}</p>
    <div class="container">
        {% if module.title %}
            <h2>{{ module.title }}</h2>
        {% endif %}
        <div class="bloc-split">
            {% for item in module.images %}
                <div class="bloc {% if loop.last %}selected{% endif %}">
                    <figure>
                        <img loading="lazy" src="{{ item.image.src }}" alt="{{ item.image.alt }}" />
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>