<section id="{{module.module_identity}}" class="success-story {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-txt">
            {% if module.title %}
                <h2>{{ module.title }}</h2>
            {% endif %}
            {% inline_rich_text field="rich_text" value="{{ module.text }}" %}
        </div>
        <div class="bloc-testimonial">
            {% if module.image.src %}
                <a href="{{ module.button_url.href.url }}" class="bloc-img link-hover">
                    <figure>
                        <img loding="lazy" src="{{ module.image.src }}" alt="{{ module.image.alt }}" />
                    </figure>
                </a>
                <a href="{{ module.button_url.href.url }}" class="link">{{ module.button_text }}</a>
            {% endif %}
            <div class="testimonial">
                {% inline_rich_text field="rich_text" value="{{ module.testimonial }}" %}
                {% if module.author %}
                    <p class="author">{{ module.author }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>