<section id="{{module.module_identity}}" class="hero-use-case-single {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="bloc-bg-lines">
        <div class="line line-1"></div>
        <div class="line line-2"></div> 
        <div class="line line-3"></div> 
    </div>
    <div class="container">
        <div class="bloc-txt">
            {% if module.title %}
                <h1>{{ module.title }}</h1>
            {% endif %}
            <div class="btns">
                {% if module.cta_field %}
                    <div class="row-btns">
                        {% cta "cta" label='Select a CTA', guid='{{ module.cta_field }}' %}
                    </div>
                {% endif %}
                {% if module.button_url.url.href != '' %}
                    <div class="row-btns test">
                        {% if '#' in  module.button_url.url.href %}
                            <div class="btn" data-href="{{ module.button_url.url.href }}">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                    <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                </svg>
                                {{ module.button_text }}
                            </div>
                        {% else %}
                            <a href="{{ module.button_url.url.href }}" {% if module.button_url.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                    <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                </svg>
                                {{ module.button_text }}
                            </a>
                        {% endif %}
                        
                    </div>
                {% endif %}
                {% if module.cta_field_2 %}
                    <div class="row-btns">
                        {% cta "cta" label='Select a CTA', guid='{{ module.cta_field_2 }}' %}
                    </div>
                {% endif %}
                {% if module.button_text_2 %}
                    <div class="row-btns">
                        <a href="{{ module.button_url_2.url.href }}" {% if module.button_url_2.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <rect class="line-dashed" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                                <rect class="line-outline" ry="25" rx="25" id="button" height="44" width="200" y="1" x="1" stroke="#000000" fill="none" />
                            </svg>
                            {{ module.button_text_2 }}
                        </a>
                    </div>
                {% endif %}
            </div>
            
        </div>
        {% if module.image.src %}
            <div class="bloc-img" data-speed="1.1">
                <figure>
                    <img loading="lazy" src="{{ module.image.src }}" alt="{{ module.image.alt }}" />
                </figure>
            </div>
        {% endif %}
    </div>
</section>