<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Intersec - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% extends "../layouts/base-system.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "This page is private | Enter password" %}

{% block body %}
<section class="password-prompt">
  <div class="container">
    {% set list = request.path|string %}
    {% set fr = 'fr' %}      
    {% if fr in list %}
      <h1>Mot de passe requis</h1>
      <p>Veuillez saisir le mot de passe requis pour afficher cette page.</p>
    {% else %}
      <h1>Password Required</h1>
      <p>Please enter the password required to view this page.</p>      
    {% endif %}
    {% module "password_prompt"
    extra_classes="password-prompt",
    path="@hubspot/password_prompt"
    %}
  </div>
</section>
{% endblock body %}