<footer id="{{module.module_identity}}" class="{% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="contain-main-footer">
        <div class="container">
            <div class="bloc-logo">
                {% if module.logo.src %}
                    <a href="{{ module.logo_link.url.href }}" {% if module.logo_link.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="logo">
                        <img src="{{ module.logo.src }}" loading="lazy" width="{{ module.logo.width }}" height="{{ module.logo.height }}" alt="{{ module.logo.alt }}">
                    </a>
                {% endif %}
                <div class="socials">
                    {% if module.youtube_link.url.href %}
                        <a href="{{ module.youtube_link.url.href }}" {% if module.youtube_link.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="youtube">Youtube</a>
                    {% endif %}
                    {% if module.linkedin_link.url.href %}
                        <a href="{{ module.linkedin_link.url.href }}" {% if module.linkedin_link.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="linkedin">LinkedIn</a>
                    {% endif %}
                    {% if module.twitter_link.url.href %}
                        <a href="{{ module.twitter_link.url.href }}" {% if module.twitter_link.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} class="twitter">Twitter</a>
                    {% endif %}                    
                </div>
            </div>            
            <div class="bloc-menu">
                <div class="bloc-menu-nav">
                    {% menu "footer_menu" id={{ module.footer_menu }}, site_map_name='Default', overrideable=False, root_type='site_root', flyouts='true', max_levels='2', flow='horizontal', label='Advanced Menu' %}
                </div>
            </div>
        </div>
    </div>
    <div class="contain-sub-footer">
        <div class="container">
            <p>@{{ local_dt|datetimeformat('%Y') }} - Intersec - Tous droits réservés</p>
        </div>
    </div>
</footer>